<%= render "shared/headerdash" %>

<section class="invoice-table">
  <div class="container">
    <div class="panel panel-default">

      <!-- Table -->
      <div style="overflow-x:auto;">
        <table class="table table-mvp" id="table-mvp">
          <thead>
            <tr>
              <th>Cliente</th>
              <th>Número</th>
              <th style="text-align: center;">Data de Vencimento</th>
              <th>Valor</th>
              <th>Status</th>
              <th>Deletar</th>
            </tr>
          </thead>
          <tbody>
            <% if @invoices %>
            <% @invoices.each do |invoice| %>
              <% invoice.installments.each do |installment| %>
              <tr>
                <td><%= invoice.payer.company_name.downcase.capitalize[0..15] %></td>
                <td><%= installment.number %></td>
                <td style="text-align: center;"><%= installment.due_date.strftime("%d/%m/%Y") %></td>
                <td><%= humanized_money_with_symbol installment.value_cents / 1000 %></td>
                <td><%= invoice.status_for_client %></td>
                <td>
                  <%= link_to(invoice_path(invoice), class: "", method: :delete, "data-confirm" => "Are you sure?" ) do %>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  <% end %>
                </td>
              </tr>
              <% end %>
            <% end %>
            <% end %>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <%= link_to "Subir nova nota", new_invoice_path, class: "btn btn-invoice" %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
