<%= render partial: "shared/header_name_first", locals: {
  title: "que tal adiantarmos umas notas?",
  sub_title: "Faça o upload do arquivo XML da sua nota fiscal",
  company_name: @seller.company_name
} %>

<%= render partial: "shared/invoices_menu", locals: {menu_in: :new} %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="input-file-box">
        <%= simple_form_for @invoice do |f| %>
        <label class="input-file">
          <p id="demo">Selecione o arquivo XML</p>
          <span style="display:none;">
            <%= f.file_field :xml, id: "file", class: "inputfile"%>
          </span>
        </label>
        <%= f.submit 'Subir arquivos', class: "btn btn-file-upload"%>
        <% end %>
      </div>
    </div>
  </div>
</div>


<script>
  var input = document.getElementById( 'file' );
  var infoArea = document.getElementById( 'demo' );

  input.addEventListener( 'change', showFileName );

  function showFileName( event ) {
    var input = event.srcElement;
    var fileName = input.files[0].name;
    infoArea.textContent = 'Arquivo selecionado!';
  }
</script>
