<%= render partial: "shared/header", locals: {
  title: "Upload de títulos",
  sub_title: "Para títulos que não sejam XML, favor enviar por e-mail para joao.conte@mvpinvest.com.br",
  company_name: "",
} %>

<%= render partial: "shared/menus/invoices_menu", locals: {menu_in: :new} %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="input-file-box">
        <%= simple_form_for @invoice do |f| %>
          <%= render partial: "shared/files_input", locals: {f: f, description: "Selecionar arquivos XML", upload: :xmls} %>
        <%= f.submit 'Subir arquivos', class: "btn btn-submit-form"%>
        <% end %>
      </div>
    </div>
  </div>
</div>


