<div class="wrapper-page-wo-subnavbar">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="client-form-box">
          <div class="client-form">
            <%= simple_form_for @key_indicator_report, url: ops_admin_key_indicator_reports_path do |f| %>
              <%= f.input :input_data, label: "CNPJ's separados por virgula" %>
              <br />
              <input type="hidden" name="operation_id">
              <%= f.submit "Analisar", class: "btn btn-rounded blue", id: "wrapper-loader-trigger"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% if @history.any? %>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="client-form-box">
          <div class="client-form">
            <h2>Histórico (<%= @history.count %>)</h2>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>CNPJ</th>
                  <th>Criado em</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @history.each do |kir| %>
                  <tr>
                    <td><%= kir.cnpj %></td>
                    <td><%= kir.created_at %></td>
                    <td>
                      <% if kir.processed? %>
                        <%= link_to 'Visualizar Análise', ops_admin_key_indicator_report_path(kir)  %>
                      <% else %>
                        Processando...
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: "shared/loaders/wrapper_loader" %>
