<div class="wrapper-page-wo-subnavbar">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <%= render partial: "shared/headers/header_section_w_opt_btn", locals: {
          title: "Análise de CNPJs",
          optional_button: "",
        } %>
        <div class="client-form-box">
          <div class="client-form">
            <%= simple_form_for @key_indicator_report, url: ops_admin_key_indicator_reports_path do |f| %>
              <%= f.input :input_data, label: "CNPJs separados por vírgula" %>
              <select class="form-control" name="kind">
                <option value="recurrent_operation">Operação Recorrente</option>
                <option value="new_cnpj">Novo CNPJ</option>
              </select>
              <br />
              <%= f.submit "Analisar", class: "btn btn-rounded blue", id: "wrapper-loader-trigger"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: "shared/loaders/wrapper_loader" %>
