
<div class="kir-container-title first-container">
  <h1>I. Conheça a empresa com que você trabalha.</h1>
  <h2>Data da consulta - <%= @presenter.created_at %></h2>
</div>

<div class="kir-container well">
  <div class="row">
    <div class="col-sm">
      <span class="highlight-text"><%= @presenter.company_name %></span><br />
      <span class="highlight-text"><%= @presenter.cnpj %></span><br />
      <span class="highlight-text">Capital Social <%= @presenter.social_capital %></span><br />
      <span class="info-text"><%= @presenter.company_operating_since %></span><br />
      <span class="info-text">Fundada em <%= @presenter.company_founded_in %></span><br />
    </div>
    <div class="col-sm">
      <span class="website"><%= @presenter&.company_website&.downcase %></span><br />
      <br />
      <span class="info-text"><%= @presenter&.company_address %></span><br />
      <span class="info-text"><%= @presenter&.company_district %> - <%= @presenter&.company_city %> - <%= @presenter&.company_state %></span><br />
      <span class="info-text"><%= @presenter&.company_zipcode %></span>
    </div>
    <div class="col-sm">
      <span class="company-status">Empresa Ativa</span>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm">
      <% if @presenter.simples_nacional? %>
        <span class="highlight-text">Empresa no SIMPLES Nacional</span><br />
      <% end %>
      <% @presenter&.company_cnae.each do |cnae| %>
        <span class="info-text">
          <%= cnae['Code'] %> - <%= cnae['Activity'] %>
        </span><br />
      <% end %>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm">
      <span class="highlight-text">Indicadores Econômicos</span><br />
      <span class="info-text"><%= @presenter&.company_branches %></span><br />
      <span class="info-text"><%= @presenter&.company_employees %></span><br />
      <span class="info-text"><%= @presenter&.total_income_range %></span><br />

    </div>
  </div>
</div>

<% if !@presenter.partners.any? %>
  <div class="kir-container-title">
    <h1>Sócios</h1>

    <h2 class="alert-text">Empresa possui poucos dados na internet sobre sócios</h2>
  </div>
<% else %>
  <div class="kir-container-title">
    <h1>Sócios</h1>
  </div>
  <% @presenter.partners.each do |partner| %>
    <div class="kir-container well partner-container">
      <span class="highlight-text"><%= partner[:name] %></span><br />
      <span class="info-text">CPF. <%= partner[:cpf] %></span><br />
      <% unless partner[:rg]&.to_i&.zero? %>
        <span class="info-text">RG. <%= partner[:rg] %></span><br />
      <% end %>
      <span class="info-text"><%= partner[:birth_date] %> - <%= partner[:age] %> Anos</span><br />
      <br />

      <span class="info-text"><%= partner[:role] %></span><br />
      <span class="info-text"><%= partner[:email] %></span><br />
      <br />

      <span class="info-text"><%= partner[:address] %></span><br />
      <span class="info-text"><%= partner[:district] %> - <%= partner[:city] %> - <%= partner[:state] %></span><br />
      <span class="info-text">PIB do CEP (em breve)</span><br />
      <span class="info-text">Algoritmo de validação de endereços estará disponível na próxima versão</span><br />
      <br />
      <span class="info-text">Entrou na empresa em <%= partner[:entry_date] %></span><br />
      <% unless partner[:business_relationships].nil? %>
        <span class="info-text">Sócio em outras empresas:</span><br />
        <% partner[:business_relationships]&.each do |business_relationship| %>
          <span class="info-text"> - <%= business_relationship['RelatedEntityName']&.titleize%></span><br />
        <% end %>
      <% end %>
      <br />

      <span class="highlight-text">Informações Financeiras</span><br />
      <span class="info-text"><%= partner.dig(:financial_data, :number_of_minimum_wage)%></span><br />
      <span class="info-text">Patrimônio estimado de <%= partner.dig(:financial_data, :total_assets) %></span><br />
      <br />

      <% if partner[:pefins]&.any? %>
        <span class="highlight-text">Possui <%= partner[:pefins]&.count %> Pefins</span><br />
      <% else %>
        <span class="highlight-text">Não possui Pefins</span><br />
        <br />
      <% end %>

      <% if partner[:refins]&.any? %>
        <span class="highlight-text">Possui <%= partner[:refins]&.count %> Refins</span><br />
        <br />
      <% else %>
        <span class="highlight-text">Não possui Refins</span><br />
        <br />
      <% end %>

      <% if partner[:protests]&.any? %>
        <span class="highlight-text">Possui <%= partner[:protests]&.count %> Protestos</span><br />
      <% else %>
        <span class="highlight-text">Não possui protestos</span><br />
        <br />
      <% end %>

      <% if partner[:lawsuits]&.any? %>
        <span class="highlight-text">Possui <%= partner[:lawsuits]&.count %> Ações Judiciais</span><br />
      <% else %>
        <span class="highlight-text">Não possui ações judiciais</span><br />
        <br />
      <% end %>

      <% if partner[:bankruptcy_participations]&.any? %>
        <span class="highlight-text">Possui <%= partner[:bankruptcy_participations]&.count %> Participações em Falência</span><br />
      <% else %>
        <span class="highlight-text">Não possui participações em falência</span><br />
        <br />
      <% end %>

      <% if partner[:bad_checks]&.any? %>
        <span class="highlight-text">Possui <%= partner[:bad_checks]&.count %> problemas com cheques</span><br />
      <% else %>
        <span class="highlight-text">Não possui problemas com cheques</span><br />
        <br />
      <% end %>
    </div>
  <% end %>

<% end %>


<div class="clearfix"></div>

<div class="kir-container-title">
  <h1>II. Informações Financeiras</h1>
  <% if @presenter.injuction? %>
    <h2 class="alert-text">Empresa possui uma liminar na justiça que impede o Serasa de disponibilizar as informações dela.</h2>
  <% end %>
</div>

<div class="kir-container well">
  <h1>Empresa possui</h1>
  <% @presenter.company_summary.each do |summary|%>
    <span class="<%= summary[:class] %>"><%= summary[:title] %></span><br />
  <% end %>
</div>

<br />

<div class="kir-container well">
  <h1>Mais informações em breve!</h1>
</div>


<div class="kir-container well">
  <%= link_to 'Voltar', "/ops_admin/key_indicator_reports?request_id=#{@key_indicator_report.key_indicator_report_request_id}" %>
</div>

<!--
  <div class="kir-container well"> <h1>Últimos 5 protestos da MVP Fomento Mercantil</h1> <table class="table"> <tbody> <tr>
  <td>Protesto</td>
  <td>19 Set 2019</td>
  <td>Rio de Janeiro</td>
  <td>R$ 22,00</td>
  </tr>
  <tr>
  <td>Protesto</td>
  <td>19 Set 2019</td>
  <td>Rio de Janeiro</td>
  <td>R$ 22,00</td>
  </tr>
  <tr>
  <td>Protesto</td>
  <td>19 Set 2019</td>
  <td>Rio de Janeiro</td>
  <td>R$ 22,00</td>
  </tr>
  <tr>
  <td>Protesto</td>
  <td>19 Set 2019</td>
  <td>Rio de Janeiro</td>
  <td>R$ 22,00</td>
  </tr>
  </tbody>
  </table>
  </div>
-->
