<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="client-form">
        <%= image_tag "porco.png", height: 100 %>
        <h2>Estamos a poucos passos de criar a sua conta...</h2>
        <div class="progress-bar">
          <span class="point active">1</span>
          <span class="point future">2</span>
          <span class="point future">3</span>
          <span class="point future">4</span>
          <span class="point future">5</span>
        </div>
        <div class="client-infos">
          <%= simple_form_for @seller, url: wizard_path, method: :put do |f| %>
          <%= f.error_notification %>
          <%= f.input :full_name, label: "Qual o seu nome?" %>
          <%= f.input :cpf, label: "E o seu CPF?" %>
          <%= f.input :company_name, label: "Qual o nome da sua Empresa?" %>
          <%= f.input :cnpj, label: "Digite o CNPJ da sua Empresa" %>
          <div class="tag-choices">
            <% Seller.company_types.each_key do |company_type_key| %>
              <input class="hidden" type="radio" value="<%= company_type_key %>" name="seller[company_type]" id="seller_company_type_<%= company_type_key %>">
              <label class="tag-choice single-choice" for="seller_company_type_<%= company_type_key %>">
                <%= company_type_key %>
                <i class="fa fa-check"></i>
              </label>
            <% end %>
          </div>
          <%= f.submit 'Continuar' %>
          <%= link_to "Back", previous_wizard_path %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
