<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="client-form-box">
        <div class="client-form-logo">
          <%= image_tag "porco.png", height: 100 %>
        </div>
        <div class="client-form-header">
          <h2>Estamos a poucos passos de criar a sua conta...</h2>
        </div>
        <div class="client-form">
          <div class="progress-bar">
            <span class="point active">1</span>
            <span class="point future">2</span>
            <span class="point future">3</span>
            <span class="point future">4</span>
          </div>
          <%= simple_form_for @seller, url: wizard_path, method: :put do |f| %>
            <%= f.input :full_name, label: "Qual o seu nome?" %>
            <%= f.input :cpf, label: "E o seu CPF?", input_html: {class: "cpf"} %>
            <%= f.error :cpf_validation, class: "invalid-feedback"  %>
            <%= f.input :phone, label: "Qual o seu telefone de contato?"%>
            <%= f.input :company_name, label: "Qual o nome da sua Empresa?" %>
            <%= f.input :cnpj, label: "Digite o CNPJ da sua Empresa", input_html: { class: "cnpj"} %>
            <%= f.error :cnpj_validation, class: "invalid-feedback"  %>

            <div class="invalid-feedback">
              <%= @seller.errors.messages[:company_type].first  %>
            </div>
            <div class="form-buttons">
              <%= f.submit 'Continuar', class: "btn-submit-form" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
