<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2">
      <div class="client-form-box">
        <div class="client-form-logo">
          <%= image_tag "porco.png", height: 100 %>
        </div>
        <div class="client-form-header">
          <h2>Estamos a poucos passos de criar a sua conta...</h2>
        </div>
        <div class="client-form">
          <div class="progress-bar">
            <span class="point active">1</span>
            <span class="point future">2</span>
            <span class="point future">3</span>
            <span class="point future">4</span>
            <span class="point future">5</span>
          </div>
          <%= simple_form_for @seller, url: wizard_path, method: :put do |f| %>
            <div class="row">
              <div class="col-12 col-sm-6">
                <%= f.input :full_name, label: "Qual o seu nome?" %>
              </div>
              <div class="col-12 col-sm-6">
                <%= f.input :cpf, label: "Qual o seu CPF?", input_html: {class: "cpf"} %>
                <%= f.error :cpf_validator, class: "invalid-feedback"  %>
              </div>
              <div class="col-12 col-sm-6">
                <%= f.input :birth_date, label: "Qual a sua data de nascimento?", input_html: {class: "birth_date"} %>
                <%= f.error :date_validator, class: "invalid-feedback"  %>
              </div>
              <div class="col-12 col-sm-6">
                <%= f.input :mobile, label: "Qual o seu celular de contato?", input_html: {class: "mobile"}%>
              </div>
              <div class="col-12 col-sm-6 offset-sm-6">
                <%= f.submit 'Continuar', class: "btn-blue-transparent" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
