<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="client-form">
        <%= image_tag "porco.png", height: 100 %>
        <h2>Estamos a poucos passos de criar a sua conta...</h2>
        <div class="progress-bar">
          <span class="point done">1</span>
          <span class="point active">2</span>
          <span class="point future">3</span>
          <span class="point future">4</span>
          <span class="point future">5</span>
        </div>
        <div class="client-infos">
          <%= simple_form_for @seller, url: wizard_path, method: :put do |f| %>
          <%= f.error_notification %>
          <fieldset class="form-group">
            <input type="hidden" name="seller[purpose_ids][]" value="">
            <div class="tag-choices">
              <% Purpose.all.each do |purpose| %>
                  <input class="hidden" type="checkbox" value="<%= purpose.id %>" name="seller[purpose_ids][]" id="seller_purpose_ids_<%= purpose.id %>">
                  <label class="tag-choice" for="seller_purpose_ids_<%= purpose.id %>">
                    <%= purpose.name %>
                    <i class="fa fa-check"></i>
                  </label>
              <% end %>
            </div>



          </fieldset>

          <%= f.submit 'Continue' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
