<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2">
      <div class="client-form-box">
        <div class="client-form-logo">
          <%= image_tag "porco.png", height: 100 %>
        </div>
        <div class="client-form-header">
          <h2>Estamos a poucos passos de criar a sua conta...</h2>
        </div>
        <div class="client-form">
          <div class="progress-bar">
            <span class="point done">1</span>
            <span class="point done">2</span>
            <span class="point done">3</span>
            <span class="point done">4</span>
            <span class="point active">5</span>
          </div>
          <div class="col-12 col-md-12">
            <section class="cd-h-timeline js-cd-h-timeline margin-bottom-md">
              <div class="cd-h-timeline__container container">
                <div class="cd-h-timeline__dates">
                  <div class="cd-h-timeline__line">
                    <ol>
                      <!-- other dates here -->
                    </ol>
                    <span class="cd-h-timeline__filling-line" aria-hidden="true"></span>
                  </div> <!-- .cd-h-timeline__line -->
                </div> <!-- .cd-h-timeline__dates -->
              </div> <!-- .cd-h-timeline__container -->

              <div class="cd-h-timeline__events">
                <a href="#0" data-date="02/01/2019" class="cd-h-timeline__date cd-h-timeline__date--selected showTimelineEvent" style="display: none"/></a>
                <a href="#0" data-date="01/01/2019" class="cd-h-timeline__date cd-h-timeline__date--selected showTimelineEvent" style="display: none"/></a>
                <a href="#0" data-date="03/01/2019" class="cd-h-timeline__date cd-h-timeline__date--selected showTimelineEvent" style="display: none"/></a>

                <ol>
                  <li class="cd-h-timeline__event cd-h-timeline__event--selected text-component">
                    <div class="cd-h-timeline__event-content container">
                      <h2 class="cd-h-timeline__event-title">Horizontal Timeline</h2>
                      <em class="cd-h-timeline__event-date">January 1st, 2019</em>
                      <p class="cd-h-timeline__event-description color-contrast-medium"> 
                      <h4 class="main-box-title" >Venda mais trabalhando de forma inteligente.</h4>
                      <div class="blue-stripe" style="width: 118px;"></div>
                      <p class="how_a1_works_card_head">
                      Não importa se você é um expert em finanças ou se está começando agora, a Banfox tem o produto ideal.
                      Enquanto nós organizamos a sua vida financeira, você aproveita melhor o seu tempo.
                      </p>
                      <div>
                        <p>
                        Organização de suas Notas Fiscais de maneira simples. Você tem acesso a todas as notas fiscais que
                        foram emitidas contra o CNPJ da sua empresa nos últimos 90 dias.
                        </p>
                        <p>
                        Receba dicas personalizadas de como cuidar do caixa da sua empresa. Use nossas dicas para manter
                        os salários dos funcionários em dia, comprar matéria prima à vista com desconto ou planejar
                        investimentos em equipamentos.
                        </p>
                        <p>
                        Para conseguirmos te ajudar com o melhor planejamento e as melhores dicas de gestão, precisamos
                        ter acesso ao Certificado Digital A1 da sua empresa. Fique tranquilo, esse é o mesmo acesso que o seu
                        contador possui, e, nós protegemos as suas informações como se fossem nossas.
                        </p>
                        <p>
                        Eai, pronto para ter mais tempo livre e poder focar no que realmente importa?
                        </p>

                        <p>
                        <small>Entenda nossas políticas de privacidade e segurança <a id="showModalConsent" href="#">aqui</a>.</small>
                        </p>
                        <p>
                        <%= link_to raw('Li e aceito os termos do site <i class="fa fa-check"></i>'), "/seller_steps/consent", remote: true,  method: :put, class: 'btn-rounded blue wide-button action'%>
                        </p>
                      </p>
                      </div>
                  </li>

                  <li class="cd-h-timeline__event text-component">
                    <div class="cd-h-timeline__event-content container">
                      <h2 class="cd-h-timeline__event-title">Horizontal Timeline</h2>
                      <em class="cd-h-timeline__event-date">January 2nd, 2019</em>
                      <p class="cd-h-timeline__event-description color-contrast-medium"> 
                      <h4 class="main-box-title" >Você está em boas mãos.</h4>
                      <div class="file_upload_card_body">
                        <p>
                        O acesso ao certificado digital A1 da sua empresa é necessário para podermos avaliar o seu comportamento 
                        financeiro e oferecer dicas valiosas que irão te ajudar a economizar e manter suas finanças em dia.
                        </p>
                      </div>
                      <%= simple_form_for(current_user.seller, url: update_signup_path, method: :put, remote: true, input_html: {multipart: true}) do |f| %>
                        <%= f.error_notification %>
                        <div class="form-inputs devise-form">
                          <%= f.input :digital_certificate, 
                            as: :file,
                            required: true,
                            label: "Arquivo do Certificado Digital A1",
                            hint: "Esse é o mesmo arquivo de acesso que o seu contador utiliza.",
                            label_html: { class: "form-control-label" }
                          %>
                        <%= f.input :digital_certificate_password,
                          required: true,
                          label: "Senha do Certificado Digital A1",
                          hint: "Essa é a senha que você utiliza junto com o seu Certificado Digital A1"
                        %>
                        </div>

                        <%= f.button :submit, "Enviar Certificado Digital Com Segurança", class: "btn-rounded blue"  %><br />
                      <% end %>
                      <hr />
                        <a href="#" class="btn-rounded blue" style="float: left" onclick="changeTimeline(timelineComponent, timelineComponent.date[0])">Voltar</a>
                        <a href="#" class="btn-rounded blue" style="float: right">Continuar sem o certificado</a>
                      </p>
                    </div>
                  </li>

                  <li class="cd-h-timeline__event text-component">
                    <div class="cd-h-timeline__event-content container">
                      <h2 class="cd-h-timeline__event-title">Horizontal Timeline</h2>
                      <em class="cd-h-timeline__event-date">January 3rd, 2019</em>
                      <p class="cd-h-timeline__event-description color-contrast-medium"> 
                      <center>
                        <h4 class="main-box-title" >
                          <a class="devise-header-blue">Parabéns!</a> Estamos prestes a ter uma melhor gestão financeira.
                        </h4>
                        <p class="how_a1_works_card_head margin-top-40">
                        Nossa equipe está analisando as informações enviadas e o nosso software está trabalhando para customizar a melhor 
                        experiência para você em nossa plataforma. O que acontece agora?
                        </p>
                        <div class="how_a1_works_card_body">
                          <p class="vmargin-20">Estamos estruturando e organizando as suas informações financeiras.</p>
                          <p class="vmargin-20">Criaremos uma visão simplificada do seu negócio para facilitar o seu dia a dia.</p>
                          <p class="vmargin-20">Acompanharemos a sua evolução e daremos dicas personalizadas de gestão financeira.</p>
                          <p class="vmargin-20">
                          O processo pode levar algumas horas, portanto, fique traquilo que em breve suas informações estarão 
                          disponíveis na plataforma.
                          </p>
                        </div>
                      </center>
                      <%= link_to "Entrar", sellers_dashboard_url, class: "digital-certificate-buttons" %>

                      </p>
                    </div>
                  </li>


                  <!-- other descriptions here -->
                </ol>
                    </div> <!-- .cd-h-timeline__events -->
            </section>

              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render partial: 'shared/modals/modal_consent' %>
