<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="client-form-box">
        <div class="client-form-logo">
          <%= image_tag "porco.png", height: 100 %>
        </div>
        <div class="client-form-header">
          <h2>Estamos a poucos passos de criar a sua conta...</h2>
        </div>
        <div class="client-form">
          <div class="progress-bar">
            <span class="point done">1</span>
            <span class="point done">2</span>
            <span class="point done">3</span>
            <span class="point done">4</span>
            <span class="point active">5</span>
          </div>
          <%= simple_form_for @seller, url: wizard_path, method: :put do |f| %>
            <div class="form-group">
              <div class="tag-choices-consent">
                <% Seller::CONSENT.each do |key, value| %>
                  <input name="seller[<%= key %>]" type="hidden" value="0">
                  <input class="hidden" type="checkbox" name="seller[<%= key %>]" id="seller_<%= key %>">
                  <label class="tag-choice tag-choice4" for="seller_<%= key %>">
                    <%= value %>
                    <i class="fa fa-check"></i>
                  </label>
                <% end %>
              </div>
            </div>
          <%= f.error :consent %>
          <%= f.submit 'Continue' %>
          <%= link_to "Back", previous_wizard_path %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
