<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="client-form-box">
        <div class="client-form-logo">
          <%= image_tag "porco.png", height: 100 %>
        </div>
        <div class="client-form-header">
          <h2>Estamos a poucos passos de criar a sua conta...</h2>
        </div>
        <div class="client-form">
          <div class="progress-bar">
            <span class="point done">1</span>
            <span class="point done">2</span>
            <span class="point done">3</span>
            <span class="point done">4</span>
            <span class="point active">5</span>
          </div>
          <%= simple_form_for @seller, url: wizard_path, method: :put do |f| %>
            <div class="form-group">
              <div class="consent">
                <h4>TERMOS DE USO E POLÍTICA DE PRIVACIDADE</h4>
                <h5>DATA: 23 DE MAIO DE 2018</h5>
                <p>
                  INTRODUÇÃO <br>
                  Seja muito bem-vindo! Pedimos a gentileza de certificar-se de ter lido, relido e compreendido o presente “Termos de Uso e Política de Privacidade”, doravante simplesmente “Termos”. Os Termos são indispensáveis para o uso do website www.mvpinvest.com.br (“Website” ou “Site”) e devem ser lidos e entendidos de forma conjunta e complementar.
                  Os Termos consistem em um “Contrato” ou “Instrumento Particular” firmado entre MVP – FOMENTO MERCANTIL LTDA., com sede na Alameda Santos, 1.787, 11º andar, parte, Cidade de São Paulo, Estado de São Paulo, CEP 01419-100, inscrita no CNPJ/MF sob n. 23.198.636/0001-95 (doravante referida simplesmente como “MVP”; “Nós”; ou “Nosso”) e você e/ou sua empresa, o “Usuário”, celebrado após a manifestação do Usuário ao aceitar os Termos para utilizar o Site (“Aceite”). O Aceite dos Termos é indispensável para qualquer forma de utilização do Site.
                  O cadastro como Usuário e/ou a utilização do Website é proibido para qualquer pessoa que não tenha poderes para tanto (conforme seja juridicamente incapaz, relativamente incapaz e/ou que não esteja devidamente assistida por um responsável, plenamente capaz e com poderes para representar o respectivo incapaz, ou que não acorde plenamente e integralmente com os Termos). Adicionalmente, o cadastro como Usuário, quando ligado à pessoa jurídica, deve ser feito, indispensavelmente, por pessoa com poderes suficientes para tanto, sendo as informações de login e senha pessoais e intransferíveis, devendo a pessoa responsável manter tais informações em segurança por sua conta e risco.
                  Os Termos vinculam legalmente o Usuário com relação aos atuais ou novos serviços oferecidos pela MVP Invest, seja via Website ou qualquer outro meio. Pelo cadastramento como Usuário e/ou utilização do Website ou quaisquer serviços oferecidos pela MVP Invest, de qualquer forma, o Usuário, independentemente de utilizar ou não o serviço, concorda em se vincular e cumprir totalmente com os Termos.
                  A MVP Invest se resguarda no direito de realizar alterações e/ou atualizações nos Termos, a qualquer momento, sem aviso prévio e a simples utilização do Website, após referida alteração e/ou atualização dos Termos, importa em concordância plena e irrevogável. Caso o Usuário não concorde com as alterações, bem como com qualquer disposição dos Termos, deverá solicitar o cancelamento de sua conta e cessar toda e qualquer utilização do Website. Na ausência de manifestação entender-se-á que o Usuário aceitou tacitamente os Termos e o Contrato continuará vinculando as partes. Recomendamos que o Usuário reveja os Termos com frequência para estar a par de quaisquer atualizações.

                  <br> FINALIDADE DA MVP INVEST <br>
                  O Website da MVP Invest consiste em uma plataforma que visa facilitar e otimizar a análise, organização, aprovação e realização de operações (em suas mais variadas formas admitidas por lei) que tenham como objeto a gestão, cobrança e/ou antecipação de recebíveis oriundos de títulos de crédito, contratos, etc.
                  Pela plataforma, a MVP Invest permite que Usuários cadastrem seus recebíveis para análise, gestão, cobrança e/ou antecipação (desde que aprovado, previamente, pelo departamento operacional e de crédito).

                  <br> CADASTRO E OPERAÇÃO <br>
                  O Usuário que pretender utilizar a plataforma fornecida pela MVP Invest deverá realizar seu cadastro através do Website.
                  Ao preencher seu cadastro, o Usuário declara e garante que a MVP Invest, suas subsidiárias, filiais, funcionários e terceiros relacionados podem verificar a exatidão das informações prestadas, além de autorizar todos os supracitados a proceder com a análise de risco e crédito para efeito de concessão de limite operacional, inclusive através da divulgação desses dados para empresas terceiras, especialmente contratadas para este fim.
                  O Usuário também declara e garante que está ciente que o limite operacional pré-aprovado não garante a realização da operação, estando sujeito às análises de crédito e operacional cabíveis, além da formalização da operação através da assinatura de contratos específicos. A MVP Invest se reserva ao direito de alterar, aumentar, reduzir ou remover o limite operacional, sem aviso prévio, a qualquer momento.
                  Detalhes e demais informações ligadas à análise/avaliação de crédito realizada pela MVP Invest são sigilosas e estão protegidas pelo sigilo industrial.
                  As informações de acesso do Usuário (login e senha) são de caráter pessoal e intransferível, devendo ser utilizadas única e exclusivamente por pessoa com poderes para tanto, pessoal e/ou profissionalmente (e.g. ser maior capaz e/ou ter poderes para representar a empresa detentora dos direitos ligados aos recebíveis informados para operação).
                  Após a confirmação e efetivação do cadastro, o Usuário poderá continuar a completar seu cadastro com informações adicionais ou navegar pelo Website.
                  O Usuário que se cadastrar no Website utilizando dados de terceiros poderá incorrer em prática de crimes, sem prejuízo de eventual responsabilização nos termos da legislação específica.
                  Ao enviar informações, dados e/ou documentos acerca de uma operação, o Usuário autoriza, expressamente, que a MVP Invest, suas filiais, subsidiárias e/ou funcionários (i) prossigam com a coleta de informações sobre os seus respectivos clientes, inclusive, mas sem limitação, em centrais de risco contratadas para este fim (como, por exemplo, Serasa); (ii) entrem em contato com os clientes do Usuário via e-mail e/ou telefone; e (iii) gravem todas as ligações e utilizem todos os documentos e informações disponíveis como meio de prova em eventual cobrança, judicial ou não.
                  A MVP Invest pode, a qualquer momento, solicitar informações e/ou documentos adicionais com a finalidade de complementar e/ou concluir eventual análise.

                  <br> RESPONSABILIDADE PELAS INFORMAÇÕES CADASTRAIS <br>
                  Os Usuários são os únicos responsáveis pela veracidade das informações cadastrais prestadas no Website, isentando a MVP Invest de qualquer responsabilidade neste sentido, em qualquer ocasião, a qualquer tempo.
                  Caso a MVP Invest constate qualquer inexatidão nas informações prestadas pelo Usuário ou ilegalidade em sua conduta, poderá, a seu exclusivo critério, suspender ou cancelar a conta correspondente, sem prévio aviso. Tal medida, contudo, não cessa nem diminui a responsabilidade do Usuário quanto à exatidão e veracidade dos fornecidos.
                  A qualquer momento a MVP Invest poderá cancelar, suspender e/ou, ainda, recusar o cadastro de um Usuário, mesmo que já previamente aceito, em casos de desconformidade com as regras e políticas da MVP Invest, seja por inexatidão de informações prestadas ou por questões que contrariem as leis vigentes. Cadastro em duplicidade poderá, também, acarretar o cancelamento, sem prévio aviso, de uma das contas ou de ambas as contas.
                  O Usuário será o único responsável por seu cadastro e conta e responderá por todos os atos nela praticados, civil e/ou criminalmente.
                  O Usuário deve estar ciente que deve notificar imediatamente a MVP Invest sobre o extravio, perda, roubo ou qualquer uso não autorizado de sua conta de acesso, além de qualquer quebra de segurança de seu conhecimento.
                  O Usuário que desejar utilizar a plataforma oferecida pela MVP Invest deverá, além de efetuar o cadastro corretamente, prestar todas as informações possíveis, de forma clara e compreensível, bem como manter tais informações e dados para seu contato atualizados junto ao Website.
                  O Usuário não poderá usar o Website através de qualquer recurso não humano, como software automatizado, processo, programa, robô, entre outros.
                  O Usuário que se cadastrar no Website utilizando dados de terceiros poderá incorrer nos crimes de falsa identidade, estelionato ou outro mais grave, sem prejuízo de eventual responsabilização por legislação específica.
                  O Usuário poderá, a qualquer momento, solicitar alteração e/ou retificação de seus dados, acessando seu cadastro diretamente no Website ou entrando em contato com o serviço de atendimento ao Cliente.
                  Outras tecnologias poderão ser utilizadas para obtenção de dados de navegação dos visitantes. Contudo, respeitarão sempre os Termos.

                  <br> PRIVACIDADE <br>
                  A utilização do Website implica no consentimento do Usuário para coleta, armazenamento e uso das informações pessoais, profissionais, cadastrais, de acesso fornecidas e suas atualizações, inclusive, mas sem limitação, a coleta do seu Internet Protocol (IP), sua localização, seu tipo de computador, tipo de navegador, páginas e serviços acessados, entre outros. A MVP Invest poderá utilizar cookies, identificações da interação com o Site ou nossas publicidades, para identificar o seu acesso. A MVP Invest não vende, cede, comunica ou transmite os dados e documentos do Usuário para qualquer terceiro que não seja envolvido diretamente com a prestação do serviço oferecido sem que haja a prévia autorização do Usuário.
                  A MVP Invest fará todo o possível para manter a privacidade dos dados pessoais de seus Usuários armazenados em sua base, de forma que utiliza tecnologia que seja suficientemente adequada para a proteção destes dados, com vistas a manter o ambiente do Website seguro, utilizando ferramentas apropriadas e controles eficientes de segurança da informação.
                  Contudo, considerando que nenhum sistema de segurança é absolutamente seguro, A MVP Invest se exime de quaisquer responsabilidades por eventuais danos e/ou prejuízos decorrentes de vírus, invasões no Website, em sua base de dados e demais falhas relacionadas. Nós não somos responsáveis pela hipótese de quebra de segurança de nossa base de dados que cause a divulgação ou acesso indevido de informações do Usuário. Em tal caso, nenhuma compensação por parte da MVP Invest será devida.
                  O objetivo da MVP Invest é proporcionar um acesso ininterrupto ao Website, mas não existe garantia quanto a esta disponibilidade e nos reservamos o direito de suspender, restringir ou cancelar o acesso ao Website a qualquer momento.
                  Sem prejuízo das demais disposições descritas nestes Termos, o Usuário declara ter ciência e concorda que a MVP Invest poderá utilizar as informações coletadas para: (i) informar a respeito de novos eventos; (ii) manter atualizados os cadastros dos Usuários para fins de contato telefônico, por correio eletrônico, via mala direta, SMS ou outros meios de comunicação; (iii) aperfeiçoar a usabilidade e a experiência interativa durante a navegação do Usuário no Website; (iv) elaborar estatísticas gerais, sem que haja identificação dos Usuários; (iv) garantir a segurança dos visitantes e responder a suas eventuais dúvidas ou solicitações; (vi) constituir, defender ou exercer regularmente direitos em âmbito judicial ou administrativo; (vii) realizar pesquisas e campanhas de comunicação e marketing de relacionamento, bem como divulgar ofertas de parceiros.
                  A MVP Invest poderá enviar comunicados e mensagens publicitárias periodicamente, a seu exclusivo critério, a seus Usuários cadastrados, fazendo uso de todos os tipos de tecnologias e meios de comunicação disponíveis, seja por e-mail, SMS, MMS, mala-direta e outros.
                  Os profissionais da MVP Invest têm pleno conhecimento dos Termos e apenas pessoal qualificado e autorizado tem permissão para acessar os dados pessoais dos Usuários coletados através do Website, sob pena de sanções disciplinares em caso de violação das normas aqui previstas, sem prejuízo da adoção das medidas legais cabíveis.
                  A MVP Invest poderá realizar parcerias com terceiros e, eventualmente, estes poderão coletar informações de Usuários como: endereço IP, especificação do navegador e sistema operacional. A MVP Invest não se responsabiliza pelas informações pessoais fornecidas aos terceiros e por eles armazenadas e utilizadas.
                  O Website poderá, eventualmente, conter links para sites de terceiros. A MVP Invest não se responsabiliza pelo conteúdo ou pela segurança das informações do Usuário quando acessar sites de terceiros, uma vez que possuem suas próprias políticas de privacidade, armazenamento e conservação de informações pessoais.

                  <br> RESPONSABILIDADES DO USUÁRIO <br>
                  A MVP Invest adota todas as medidas possíveis para informação e segurança de seus Usuários. Em contrapartida, o Usuário assume todo o ônus e responsabilidades decorrentes dos atos que vier a praticar, informações que vier a fornecer e, ainda, em decorrência de atos em que terceiros praticarem em seu nome, por meio do uso de sua conta de acesso.
                  O Usuário é o único responsável pelas informações que prestar ou divulgar através do Website, bem como pelo cumprimento das condições pactuadas com a MVP Invest.
                  O Usuário declara e garante ser o titular dos direitos sobre toda e qualquer tipo de informação que fornecer ao Website, sendo responsável pelas eventuais autorizações necessárias para tanto, sob pena de responder civil e criminalmente, por prestar informações incompletas e/ou inverídicas perante a MVP Invest, a qualquer título.
                  O Usuário não poderá: (i) obter, guardar, divulgar, comercializar e/ou utilizar dados pessoais sobre outros Usuários para fins comerciais ou ilícitos; (ii) usar meios automáticos, incluindo spiders, robôs, crawlers, ferramentas de captação de dados ou similares para baixar dados do Website (exceto ferramentas de busca na Internet e arquivos públicos não comerciais); e (iii) burlar, ou tentar burlar, de qualquer forma que seja, o sistema, mecanismo e/ou a plataforma do Website.
                  Os Usuários são os únicos e exclusivos responsáveis por suas obrigações fiscais, trabalhistas, tributárias, consumeristas e demais envolvidas nas operações realizadas através do Site.

                  <br> DIREITOS AUTORAIS E PROPRIEDADE INTELECTUAL <br>
                  O uso comercial da expressão “MVP Invest” como marca, nome empresarial ou nome de domínio, bem como os conteúdos das telas do Website, assim como os programas, bancos de dados, redes, arquivos que permitem que o Usuário acesse e use através de sua conta são de propriedade da MVP Invest e estão protegidos pelas leis e tratados internacionais de direito autoral, marcas, patentes, modelos e desenhos industriais, sendo vedado seu uso, salvo mediante prévia autorização por escrito.
                  Ao acessar o site www.mvpinvest.com.br, o Usuário declara que irá respeitar todos os direitos de propriedade intelectual e os decorrentes da proteção de marcas da MVP Invest, bem como de todos os direitos referentes a terceiros que porventura estejam, ou estiveram, de alguma forma, disponíveis no Website. O simples acesso ao Website não confere ao Usuário qualquer direito de uso dos nomes, títulos, palavras, frases, marcas, patentes, obras literárias, artísticas, imagens, vídeos, símbolos, entre outras, que nele estejam, ou estiveram, disponíveis.
                  A reprodução dos conteúdos descritos anteriormente está proibida, salvo mediante prévia autorização por escrito da MVP Invest.
                  É vedada a utilização de qualquer conteúdo do Website para finalidades comerciais, publicitárias ou qualquer outra que contrarie a realidade para o qual foi concebido, conforme definido nestes Termos. São igualmente proibidas a reprodução, distribuição, divulgação, adaptação, modificação, utilização, edição, disponibilização em qualquer meio de comunicação, etc., total ou parcial, dos textos, figuras, gráficos que compõem o presente Website, sem prévia e expressa autorização da MVP Invest.
                  Qualquer outro tipo de utilização de material autorizado, inclusive para fins editoriais, comerciais ou publicitários, só poderá ser feito mediante prévio e expresso consentimento da MVP Invest.
                  O Usuário assume toda e qualquer responsabilidade pela utilização indevida das informações, textos, gráficos, marcas, obras, imagens, vídeos, enfim, de todo e qualquer direito de propriedade intelectual ou industrial do Website, seja na esfera cível ou criminal.
                  Qualquer utilização não autorizada pelo presente Termo ou de forma expressa pela MVP Invest, será considerada como uma violação dos direitos de autor e sujeita às sanções cabíveis na Lei 9.610, de 19 de fevereiro de 1998, que regula os direitos autorais e conexos na legislação brasileira.

                  <br> EXCLUSÃO DE GARANTIAS E DE RESPONSABILIDADE <br>
                  A MVP Invest utiliza as melhores e mais modernas tecnologias para a segurança de seus Usuários. No entanto, em decorrência de questões operacionais e/ou de terceirização de serviços, o Website pode estar sujeito a eventuais problemas de interrupção, falha técnica e indisponibilidade de funcionamento temporário. Quando for razoavelmente possível, a MVP Invest advertirá previamente as interrupções do funcionamento aos Usuários.
                  A MVP Invest se exime de qualquer responsabilidade pelos danos e prejuízos de toda natureza que possam decorrer da falta de disponibilidade ou de continuidade do funcionamento do Website.
                  A MVP Invest não se responsabiliza por qualquer dano ou prejuízo com envio de informações ou de conteúdo publicitário que não tenham sido disparados pelo próprio Website, sejam esses últimos legítimos ou indesejados (SPAM).
                  A MVP Invest não se responsabiliza por qualquer caso em que ocorra erro sistêmico que alterem dados ou informações fornecidas pelo Usuário. Em caso de erro, o Usuário será comunicado via e-mail, Site e/ou telefone.
                  A MVP Invest não se responsabiliza por qualquer dano, prejuízo ou perda no equipamento do Usuário causado por falhas no sistema, no servidor ou na conexão decorrentes de condutas de terceiros, incluindo ações de softwares maliciosos como vírus, cavalo de tróia (trojans), etc., que possam, de algum modo, danificar o equipamento ou conexão do Usuário em decorrência do acesso, utilização ou navegação no Website www.mvpinvest.com.br, bem como a transferência de dados, arquivos, imagens, textos, áudios ou vídeos nele contidos.

                  <br> MODIFICAÇÕES DESTES TERMOS E CONDIÇÕES <br>
                  Os Termos do Website estão sujeitos a constante melhoria e aprimoramento. Assim, a MVP Invest se reserva o direito de modificar a qualquer momento, de forma unilateral, os Termos.
                  Os novos Termos entrarão em vigor após 10 (dez) dias contados de sua publicação no Website. Caso o Usuário não esteja de acordo com as novas condições estabelecidas, deverá cessar o uso do Site imediatamente e entrar em contato com os canais de atendimento disponíveis para exclusão de seu cadastro, devendo, no entanto, cumprir eventual obrigação assumida até o momento da efetiva rescisão.
                  Ao se cadastrar através do Website, o Usuário aceita os Termos que se encontram vigentes, devendo verificá-los e aceitá-los para utilização dos serviços oferecidos através de todo e qualquer meio de utilização do Website.
                  Você poderá sempre encontrar a versão atualizada dos Termos no Website da MVP Invest.

                  <br> DISPOSIÇÕES GERAIS <br>
                  A tolerância de eventual descumprimento de quaisquer das cláusulas e condições do presente instrumento não constituirá novação das obrigações aqui estipuladas e tampouco impedirá ou inibirá sua exigibilidade, a qualquer tempo.
                  O Usuário autoriza, expressamente, que a MVP Invest se comunique através de todos os canais de atendimento disponíveis, inclusive, mas não somente, através de correio eletrônico (e-mail), telefone fixo e/ou celular, SMS, entre outros, ficando ressaltado que a principal via de informação para o Usuário é o Website da MVP Invest.

                  <br> LEI APLICÁVEL E JURISDIÇÃO <br>
                  O presente instrumento denominado Termos de Uso e Política de Privacidade é regido pela legislação da República Federativa do Brasil. As partes elegem o Foro do domicílio da Comarca de São Paulo, como competente para dirimir quaisquer dúvidas ou controvérsias oriundas deste Termo.

                  <br> DÚVIDAS <br>
                  Caso tenha qualquer dúvida em relação ao presente documento, favor entrar em contato pelo telefone: (011) 3142-8888, disponível de segunda a sexta-feira das 8h às 18h (exceto feriados). Ou, contate-nos por meio da Central de Ajuda através do e-mail joao.conte@mvpinvest.com.br.
                </p>
              </div>
              <div class="tag-choices-consent">
                <% Seller::CONSENT.each do |key, value| %>
                  <input name="seller[<%= key %>]" type="hidden" value="0">
                  <input class="hidden" type="checkbox" name="seller[<%= key %>]" id="seller_<%= key %>">
                  <label class="tag-choice tag-choice4" for="seller_<%= key %>">
                    <%= value %>
                    <i class="fa fa-check"></i>
                  </label>
                <% end %>
                <%= f.error :consent, class: "invalid-feedback" %>
              </div>
            </div>
          <%= f.submit 'Continue' %>
          <%= link_to "Back", previous_wizard_path %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
