<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="client-form-box">
        <div class="client-form-logo">
          <%= image_tag "porco.png", height: 100 %>
        </div>
        <div class="client-form-header">
          <h2>Estamos a poucos passos de criar a sua conta...</h2>
        </div>
        <div class="client-form">
          <div class="progress-bar">
            <span class="point done">1</span>
            <span class="point active">2</span>
            <span class="point future">3</span>
          </div>
          <%= simple_form_for @seller, url: wizard_path, method: :put do |f| %>

            <%= f.input :monthly_revenue, label: "Qual sua receita mensal?" %>
            <%= f.input :monthly_fixed_cost, label: "E o seu custo fixo mensal?" %>
            <%= f.input :monthly_units_sold, label: "Quantas unidades do produto/serviço você vende por mês?" %>
            <%= f.input :cost_per_unit, label: "Quanto custa para você produzir uma unidade do produto/serviço sem considerar os custos fixos?"%>
            <%= f.input :debt, value: @seller.debt, label: "Qual o total de dívidas que sua empresa possui?" %>

            <%= f.submit 'Continuar' %>
            <%= link_to "Voltar", previous_wizard_path %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
