<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="client-form-box">
        <div class="client-form-logo">
          <%= image_tag "porco.png", height: 100 %>
        </div>
        <div class="client-form-header">
          <h2>Estamos a poucos passos de criar a sua conta...</h2>
        </div>
        <div class="client-form">
          <div class="progress-bar">
            <span class="point done">1</span>
            <span class="point done">2</span>
            <span class="point active">3</span>
            <span class="point future">4</span>
            <span class="point future">5</span>
          </div>
          <%= simple_form_for @seller, url: wizard_path, method: :put do |f| %>
            <div class="tag-choices-finantial">
              <h4>Nos conte um pouquinho sobre suas finanças...</h4>
              <div class="slider-container">
                <p>Qual sua Receita Mensal? <span id="revenue-slider-value"></span></p>
                <input class="slider" label="false" min="0" step="50" max="950" value="<%= @seller.revenue || 0 %>" type="range" name="seller[revenue]" id="revenue">
                <%= f.error :revenue %>
              </div>
              <div class="slider-container">
                <p>Quanto você paga de aluguel? <span id="rental_cost-slider-value"></span></p>
                <input class="slider" label="false" min="0" step="1" max="100" value="<%= @seller.rental_cost || 0 %>" type="range" name="seller[rental_cost]" id="rental_cost">
                <%= f.error :rental_cost %>
              </div>
              <div class="slider-container">
                <p>Quantos funcionários vocês possuem? <span id="employees-slider-value"></span></p>
                <input class="slider" label="false" min="0" step="1" max="100" value="<%= @seller.employees || 0 %>" type="range" name="seller[employees]" id="employees">
                <%= f.error :employees %>
              </div>
            </div>
          <%= f.submit 'Continue' %>
          <%= link_to "Back", previous_wizard_path %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
