<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="client-form-box">
        <div class="client-form-logo">
          <%= image_tag "porco.png", height: 100 %>
        </div>
        <div class="client-form-header">
          <h2>Estamos a poucos passos de criar a sua conta...</h2>
        </div>
        <div class="client-form">
          <div class="progress-bar">
            <span class="point done">1</span>
            <span class="point done">2</span>
            <span class="point done">3</span>
            <span class="point active">4</span>
            <span class="point future">5</span>
          </div>
          <div class="input-file-box">
            <%= simple_form_for @seller, url: wizard_path, method: :put do |f| %>
              <div class="wrapper-btn-options-form form-group">
                <label for="">Você tem poderes para assinar pela empresa? </label>
                <div class="wrapper-btn-options">
                  <%= link_to "Não", "#", id: "btn-option-no", class: "btn-orange-transparent", "aria-expanded" => "false"  %>
                  <%= link_to "Sim", "#", id: "btn-option-yes", class: "btn-orange-transparent" %>
                </div>
              </div>
              <div id="wrapperSubForm", class="collapse", aria-expanded="false">
                <%= f.input :full_name_partner, label: "Qual o nome do sócio?" %>
                <%= f.input :cpf_partner, label: "E o CPF do sócio?", input_html: {class: "cpf"} %>
                <%= f.error :cpf_validator, class: "invalid-feedback"  %>
                <%= f.input :birth_date_partner, label: "Qual a data de nascimento do sócio?", input_html: {class: "birth_date"} %>
                <%= f.error :date_validator, class: "invalid-feedback"  %>
                <%= f.input :email_partner, label: "Qual email do sócio?" %>
                <%= f.error :corporate_email_validator, class: "invalid-feedback"  %>
                <%= f.input :mobile_partner, label: "Qual o seu celular do sócio?", input_html: {class: "mobile"}%>
              </div>
              <div class="form-buttons">
                <%= link_to "Voltar", previous_wizard_path %>
                <%= f.submit 'Continuar', class: "btn-orange-transparent"%>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: "shared/modal_contact_us", locals: {seller: @seller, user: @user, subject: "Dúvida sobre documentação"} %>
