<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2">
      <div class="client-form-box">
        <div class="client-form-logo">
          <%= image_tag "porco.png", height: 100 %>
        </div>
        <div class="client-form-header">
          <h2>Estamos a poucos passos de criar a sua conta...</h2>
        </div>
        <div class="client-form">
          <div class="progress-bar">
            <span class="point done">1</span>
            <span class="point done">2</span>
            <span class="point done">3</span>
            <span class="point active">4</span>
            <span class="point future">5</span>
          </div>

            <%= simple_form_for @seller, url: wizard_path, method: :put do |f| %>
              <div class="wrapper-btn-options-form form-group">
                <label for="">Você tem poderes para assinar pela empresa? </label>
                <div class="wrapper-btn-options">
                  <%= link_to "Não", "#", id: "btn-option-no", name: "no", class: "btn-blue-transparent", "aria-expanded" => "false"  %>
                  <%= link_to "Sim", "#", id: "btn-option-yes", name: "yes", class: "btn-blue-transparent" %>
                </div>
              </div>
              <div id="wrapperSubForm", class="collapse", aria-expanded="false">
                <label for="">Preecha com os dados da pessoa que tem poderes para assinar pela empresa </label>
                <%= f.input :full_name_partner, label: "Nome completo:" %>
                <%= f.input :cpf_partner, label: "CPF:", input_html: {class: "cpf"} %>
                <%= f.error :cpf_validator, class: "invalid-feedback"  %>
                <%= f.input :birth_date_partner, label: "Data de nascimento:", input_html: {class: "birth_date"} %>
                <%= f.error :date_validator, class: "invalid-feedback"  %>
                <%= f.input :email_partner, label: "Email corporativo:" %>
                <%= f.error :corporate_email_validator, class: "invalid-feedback"  %>
                <%= f.input :mobile_partner, label: "Telefone móvel:", input_html: {class: "mobile"}%>
              </div>
              <div class="form-buttons">
                <%= link_to "Voltar", previous_wizard_path %>
                <%= f.submit 'Continuar', class: "btn-blue-transparent"%>
              </div>
            <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
