<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="client-form-box">
        <div class="client-form-logo">
          <%= image_tag "porco.png", height: 100 %>
        </div>
        <div class="client-form-header">
          <h2>Estamos a poucos passos de criar a sua conta...</h2>
        </div>
        <div class="client-form">
          <div class="progress-bar">
            <span class="point done">1</span>
            <span class="point done">2</span>
            <span class="point active">3</span>
            <span class="point future">4</span>
          </div>
          <div class="input-file-box">
            <%= simple_form_for @seller, url: wizard_path, method: :put do |f| %>
            <%= f.error :documents_validation, class: "invalid-feedback"  %>
            <%= f.input :contact_is_partner, label: "Você é o sócio desse empresa?" %>
            <%= f.input :full_name_partner, label: "Qual o seu nome?" %>
            <%= f.input :cpf_partner, label: "E o seu CPF?", input_html: {class: "cpf"} %>
            <%= f.error :cpf_validation, class: "invalid-feedback"  %>
            <%= f.input :birth_date_partner, label: "Qual a sua data de nascimento?" %>
            <%= f.input :email_partner, label: "Qual email?" %>
            <%= f.input :mobile_partner, label: "Qual o seu celular de contato?"%>
              <div class="form-buttons">
                <%= link_to "Voltar", previous_wizard_path %>
                <%= f.submit 'Subir arquivos', class: "btn-submit-form"%>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: "shared/modal_contact_us", locals: {seller: @seller, user: @user, subject: "Dúvida sobre documentação"} %>
