<div id="modal-show-wo-click-present">
  <% if @show_message %>
    <%= render partial: "shared/modals/modal_create_appointment", locals: {seller: @seller, user: @user } %>
  <% end %>
</div>

<div class="wrapper-page-wo-subnavbar">
  <div class="container-fluid">
    <% if !@seller.visited? %>
      <div class="row">
        <div class="col-xs-12">
          <%= render partial: "shared/headers/header_section_w_opt_btn", locals: {
          title: "Mensagens",
          optional_button: "",
          } %>
          <div class="row">
            <div class="col-sm-12 col-md-4">
              <%= render partial: "shared/cards/card_w_info_icon_clickable", locals: {
                title: "Marcar ligação com especialista",
                button_path: "https://banfox.calendrier.com.br"
              } %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col-xs-12">
        <%= render partial: "shared/headers/header_section_w_opt_btn", locals: {
          title: "Limites",
          optional_button: "",
        } %>
        <div class="row">
          <div class="col-sm-12 col-md-4">
            <%= render partial: "shared/cards/card_w_title_progressbar", locals: {
              title: "Limite operacional",
              left_data: @seller.used_limit,
              right_data: @seller.operation_limit,
              left_legend: "Utilizado",
              right_legend: "Disponível",
            } %>
          </div>
           <div class="col-sm-12 col-md-4">
            <%= render partial: "shared/cards/card_w_icon_info_title", locals: {
              icon: render(partial: "shared/icons/lightbulb"),
              primary_content: Installment.total(:liquidation_expected_today, @seller),
              title: "Liquidação hoje",
            } %>
          </div>
          <div class="col-sm-12 col-md-4">
            <%= render partial: "shared/cards/card_w_icon_info_title", locals: {
              icon: render(partial: "shared/icons/lightbulb"),
              title: "Liquidação esse mês",
              primary_content: Installment.total(:liquidation_expected_month, @seller),
            } %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <%= render partial: "shared/headers/header_section_w_opt_btn", locals: {
          title: "Operações",
          optional_button: "",
        } %>
        <div class="row">
          <div class="col-sm-12 col-md-4">
            <%= render partial: "shared/cards/card_w_icon_info_title", locals: {
              icon: render(partial: "shared/icons/dolar"),
              primary_content: Installment.total(:currently_opened, @seller),
              title: "Em Andamento",
            } %>
          </div>
          <div class="col-sm-12 col-md-4">
            <% if @installments_in_analysis == Money.new(0) %>
              <%= render partial: "shared/cards/card_w_text_icon_clickable" %>
            <% else %>
              <%= render partial: "shared/cards/card_w_icon_info_title", locals: {
                icon: render(partial: "shared/icons/cog"),
                primary_content: @installments_in_analysis,
                title: "Em Análise",
              } %>
            <% end %>
          </div>
          <div class="col-sm-12 col-md-4">
            <%= render partial: "shared/cards/card_w_icon_info_title", locals: {
              icon: render(partial: "shared/icons/times"),
              primary_content: Installment.total(:overdue, @seller),
              title: "Em Atraso",
            } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
