<div class="table-wo-bundle-row-content">
  <div class="content-col content-col-6  text-left">                      <%= item.invoice.number %></div>
  <div class="content-col content-col-10 text-left">                      <%= item.invoice.payer.company_name.mb_chars.downcase.titleize %></div>
  <div class="content-col content-col-11 text-left">                      <%= item.invoice.seller.company_name.mb_chars.downcase.titleize %></div>
  <div class="content-col content-col-10 text-left">                      <%= item.number %></div>
  <div class="content-col content-col-10 text-left">                      <%= item.due_date.strftime("%d %b %y") %></div>
  <div class="content-col content-col-4  text-center outstanding_days">   <%= item.outstanding_days %></div>
  <div class="content-col content-col-13 text-right  installment_value">  <%= humanized_money_with_symbol item.value %></div>
  <div class="content-col content-col-13 text-right  fee">                <%= humanized_money_with_symbol item.fee %></div>
  <div class="content-col content-col-13 text-right  net_value">          <%= humanized_money_with_symbol item.net_value %></div>
  <div class="content-col content-col-10 text-right">
    <%= link_to "Aprovar", approve_ops_admin_installment_path(item)  %>
    <%= link_to "Rejeitar", reject_ops_admin_installment_path(item) %>
  </div>

</div>

