<!-- Modal -->
<div class="modal fade" id="modal-create-appointment">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <%= image_tag "http://res.cloudinary.com/dbzg4txla/image/upload/w_600,h_600,c_crop,g_face/v1535573589/joaquim_oliveira_bstvg6.jpg", class: "avatar" %>
        <span class="header-avatar-name">Joaquim da MVP Invest</span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <h4 class="welcome-icon"><i class="fa fa-check-circle"></i></h4>
        <h4 class="welcome-header">Bem vindo à MVP Invest!</h4>
          <p>Olá <%= seller.full_name.split.first %>,</p>
          <p>O cadastro da <%= seller.company_name %> já está ativo! Sua empresa já foi pré-aprovada com um limite de <strong>R$ 20.000,00</strong>. Lembrando que esse limite pode ser ainda maior. O próximo passo é <strong>escolher uma data e horário</strong> para que possamos ir visitar sua empresa!</p>
          <div class="modal-body-button">
            <%= render(partial: "shared/buttons/btn_rounded_create_appointment", locals: {button_path: "https://mvpinvest.calendrier.com.br", content: "Marcar visita"}) %>
          </div>
          <p>Enquanto isso você já pode subir algumas notas que deseja adiantar, para que possamos analisar</p>
          <div class="modal-body-button">
            <%= render(partial: "shared/buttons/btn_rounded_upload_invoice", locals: {button_path: new_invoice_path, content: "Adicionar notas fiscais"}) %>
          </div>
      </div>
      <!-- TODO: put space so that the client can send us a message -->
      <!-- <div class="modal-footer">
      </div> -->
    </div>
  </div>
</div>
