<!-- Modal -->
<div class="modal fade" id="modal-show-wo-click">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <%= image_tag "http://res.cloudinary.com/dbzg4txla/image/upload/w_600,h_600,c_crop,g_face/v1535573589/joaquim_oliveira_bstvg6.jpg", class: "avatar" %>
        <span class="modal-header-avatar-name">Joaquim da Banfox</span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <h4 class="modal-body-title-icon"><i class="fa fa-check-circle"></i></h4>
        <h4 class="modal-body-title-message">Bem vindo à Banfox!</h4>
        <p>Olá <%= seller.full_name.mb_chars.titleize.split.first %>, tudo bem?</p>
        <p>O cadastro da <%= seller.company_name.mb_chars.titleize %> já está ativo! Sua empresa foi pré-aprovada com um limite de <strong><%= number_to_currency(@seller.operation_limit.to_i, :delimiter => ".")%></strong>.
        <p>Ah, e só pra deixar claro: assim que tivermos os primeiros pagamentos, este limite poderá ser aumentado. O histórico é super importante, tanto para conhecermos você melhor, quanto para você conhecer nossa forma de ajudá-lo.</p>
        <p>O próximo passo é subir suas notas fiscais na plataforma, enquanto nosso time finaliza a análise de sua empresa e se prepara para te ligar.</p>
        <p>Bons negócios!</p>
        <div class="modal-body-button">
          <%= render(partial: "shared/buttons/btn_rounded_upload_invoice", locals: {button_path: "#", content: "Adicionar notas fiscais"}) %>
        </div>
      </div>
      <!-- TODO: put space so that the client can send us a message -->
      <!-- <div class="modal-footer">
      </div> -->
    </div>
  </div>
</div>
