<div class="wrapper-page-wo-subnavbar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <%= render partial: "shared/headers/header_section_w_opt_btn", locals: {
          title: "Operações para análise",
          optional_button: "",
        } %>

      <% @operations.each do |operation| %>
        <div class="card-w-table-inside">
          <div class="card-w-table-inside-header">
            <div class="header-column">
              <span># <%= operation.id %> <%= operation.seller_name.mb_chars.downcase.titleize %></span>
            </div>
            <div class="header-column">
              <span> Aberta a: <%= operation.order_elapsed_time %></span>
            </div>
          </div>
          <div class="card-w-table-inside-summary">
            <div class="summary-column">
              <strong>Requerido</strong> <span>Total bruto: <%= humanized_money_with_symbol operation.total_value %> </span>
              <span>Taxa total: <%= humanized_money_with_symbol operation.fee %> </span>
              <span>Retenção: <%= humanized_money_with_symbol operation.protection %> </span>
              <span>Total líquido: <%= humanized_money_with_symbol operation.net_value %> </span>
              <span>Total depósito: <%= humanized_money_with_symbol operation.deposit_today %> </span>
            </div>
            <div class="summary-column summary-w-padding-left">
              <strong>Aprovado</strong>
              <span>Total bruto: <%= humanized_money_with_symbol operation.total_value_approved %> </span>
              <span>Taxa total: <%= humanized_money_with_symbol operation.fee_approved %> </span>
              <span>Retenção: <%= humanized_money_with_symbol operation.protection_approved %> </span>
              <span>Total líquido: <%= humanized_money_with_symbol operation.net_value_approved %> </span>
              <span>Total depósito: <%= humanized_money_with_symbol operation.deposit_today_approved %> </span>
            </div>
            <div class="summary-column summary-w-padding-left">
              <strong>Arquivos de notas</strong>
              <div class="extended-column">
                <% operation.invoices.distinct.each do |invoice| %>
                  <%= link_to "##{invoice.number}", url_for(invoice.document), {class: "file-link", target: :blank} %>
                <% end %>
              </div>
            </div>
            <div class="summary-column summary-w-padding-left">
              <% if operation.key_indicator_reports.any? %>
                <strong>Análise de crédito</strong>
                <% operation.present_key_indicator_report&.conclusions.each do |key_indicators| %>
                  <span><%= link_to key_indicators[:cnpj], ops_admin_key_indicator_report_path(operation.present_key_indicator_report, cnpj: key_indicators[:cnpj])%></span>
                  <div>
                    <div class="risk-flag gray-flag">
                      <span> <%= key_indicators[:flags][:gray] %></span>
                    </div>
                    <div class="risk-flag green-flag">
                      <span> <%= key_indicators[:flags][:green] %></span>
                    </div>
                    <div class="risk-flag yellow-flag">
                      <span> <%= key_indicators[:flags][:yellow] %></span>
                    </div>
                    <div class="risk-flag red-flag">
                      <span> <%= key_indicators[:flags][:red] %></span>
                    </div>
                  </div>
                <% end %>
              <% else %>
                <%= link_to 'Analisar Risco da Operação',
                  ops_admin_key_indicator_reports_path(operation_id: operation.id, kind: 'recurrent_operation'),
                  method: :create
                %>
              <% end %>
            </div>

          </div>
          <%= render partial: "shared/tables/table_wo_bundle_ops/header" %>
          <%= render partial: "shared/tables/table_wo_bundle_ops/analyse/container", locals: {items: operation.installments}%>
      <% end %>
      <%# TODO: test the paginate with @operations. I don't know if the code below is working %>
      <div id="infinite-scrolling">
        <%= will_paginate @operations %>
      </div>
      </div>
    </div>
  </div>
</div>
