<div class="wrapper-page-wo-subnavbar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <table class="table">
          <thead>
            <th>Data de Criação</th>
            <th>Seller</th>
            <th>Status</th>
            <th>Tipo de E-mail</th>
            <th>Títulos</th>
            <th>Código de Resposta</th>
            <th>Ações</th>
          </thead>
          <tbody>
            <% @billing_rulers.each do |billing| %>
              <tr>
                <td><%= billing.created_at_format %></td>
                <td><%= billing.seller.full_name %></td>
                <td><%= billing.status_translate %></td>
                <td><%= billing.billing_type_translate %></td>
                <td>
                  <% billing.installments.each do |installment| %>
                    <%= installment.invoice.number %>/<%= installment.number %><br/>
                  <% end %>
                </td>
                <td><%= billing.code %></td>
                <td>
                  <%= link_to "Enviar", ops_admin_operations_send_billing_mail_path(id: billing.id, method: billing.billing_type), method: :post %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
