<div class="table-wo-bundle-row-content">
  <div class="content-col content-col-9  text-left">                                 <%= invoice_installment_number_mask(item.invoice.number, item.number) %></div>
  <div class="content-col content-col-16 text-left">                                 <%= item.invoice.payer.company_name.mb_chars.titleize %></div>
  <div class="content-col content-col-7  text-left">                                 <%= l(item.ordered_at, format: "%d %b %y") %></div>
  <div class="content-col content-col-7  text-left">                                 <%= l(item.due_date, format: "%d %b %y") %></div>
  <div class="content-col content-col-4  text-center <%= "red" if item.overdue? %>">
    <% if item.overdue? %>
      <%= item.overdue_days %>
    <% else %>
      <%= item.outstanding_days %>
    <% end %>
  </div>
  <div class="content-col content-col-10 text-right">                                 <%= humanized_money_with_symbol item.value %></div>
  <div class="content-col content-col-10 text-right">
    <% if item.overdue? %>
      <span data-toggle="tooltip" title="" data-original-title="<%= humanized_money_with_symbol item.final_fee %> + [<%= humanized_money item.delta_fee %>]" class="red">
        <%= humanized_money_with_symbol item.fee %>
      </span>
    <% else %>
      <span>
        <%= humanized_money_with_symbol item.fee %>
      </span>
    <% end %>
  </div>
  <div class="content-col content-col-10 text-right">
    <% if item.overdue? %>
      <span data-toggle="tooltip" title="" data-original-title="<%= humanized_money_with_symbol item.final_net_value %> - [<%= humanized_money item.delta_fee %>]" class="red">
        <%= humanized_money_with_symbol item.net_value %>
      </span>
    <% else %>
      <span>
        <%= humanized_money_with_symbol item.net_value %>
      </span>
    <% end %>
  </div>
  <div class="content-col content-col-10 text-right">                                 <%= humanized_money_with_symbol item.first_deposit_amount %></div>
  <div class="content-col content-col-10 text-right">
    <% if item.overdue? %>
      <span data-toggle="tooltip" title="" data-original-title="<%= humanized_money_with_symbol item.final_protection %> - [<%= humanized_money item.delta_fee %>]" class="red">
        <%= humanized_money_with_symbol item.protection %>
      </span>
    <% else %>
      <span>
        <%= humanized_money_with_symbol item.protection %>
      </span>
    <% end %>
  </div>
  <div class="content-col content-col-7  text-left extra-space-left">
    <%= render partial: "shared/tables/table_wo_bundle_for_opened_history_installments/status_tag", locals: {status: item.status} %>
  </div>
</div>

