<div class="t-item">
  <div class="item-card">
    <p><%= item.number %></p>
    <p><%= item.payer.company_name %></p>
    <p><%= item.total_value %></p>
    <p><%= item.status %></p>
  </div>
  <div class="item-details">
    <%= render partial: "shared/card_table_row_details", collection: item.installments, as: :item %>
  </div>
</div>
