<div class="container">
  <div class="row">
    <div class="menu-options">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= link_to invoices_path do %>
        <div class="card-menu">
          <i class="fa fa-line-chart" id="icon1"></i>
          <p>Meus títulos</p>
          <span><%= @seller.invoices.count %></span>
        </div>
        <% end  %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= link_to documents_path do %>
        <div class="card-menu">
          <i class="fa fa-folder-open-o" id="icon2"></i>
          <p>Meus documentos</p>
          <% if @documents_ok %>
            <span><i class="fa fa-check-circle color-ok"></i></span>
          <% else %>
            <%= @seller.documents_uploaded %> / <%= @seller.total_documents %>
          <% end %>
        </div>
        <% end  %>
      </div>
    </div>
  </div>
</div>
