<div class="container">
  <div class="row">
    <div class="menu-options">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= link_to store_invoices_path do %>
        <div class="card-menu">
          <i class="fa fa-store" id="icon2"></i>
          <p>Títulos a venda</p>
          <span><%= Invoice.in_store(@seller).count %></span>
        </div>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= link_to opened_invoices_path do %>
        <div class="card-menu">
          <i class="fa fa-calendar" id="icon3"></i>
          <p>Notas em Aberto</p>
          <span><%= Invoice.opened(@seller).count + Invoice.overdue(@seller).count %></span>
        </div>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= link_to history_invoices_path do %>
        <div class="card-menu">
          <i class="fa fa-check" id="icon1"></i>
          <p>Operações Finalizadas</p>
          <span><%= Invoice.paid(@seller).count + Invoice.rebought(@seller).count %></span>
        </div>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= link_to new_invoice_path do %>
        <div class="card-menu">
          <i class="fa fa-file-excel-o" id="icon4"></i>
          <p>Vender nova nota</p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
