<div class="dash-parent">
  <div id="dashmenu-mvp">
    <!-- Logo -->
    <%= link_to root_path, class: "navbar-mvp-brand" do %>
      <div id="logo-dash" class="logo-dash"></div>
    <% end %>
    <div class="dash-mvp-right hidden-xs hidden-sm">

      <!-- Links when logged in -->
      <%= link_to sellers_show_path, class: "dash-mvp-item dash-mvp-link" do %>
      <i class="fa fa-laptop"></i>
      <span>Dashboard</span>
      <% end %>

      <%= link_to store_invoices_path, class: "dash-mvp-item dash-mvp-link" do %>
        <i class="fa fa-line-chart"></i>
        <span>Títulos</span>
      <% end %>

      <%= link_to documents_path, class: "dash-mvp-item dash-mvp-link" do %>
        <i class="fa fa-folder"></i>
        <span>Documentos</span>
      <% end %>

      <!-- Avatar with dropdown menu -->
      <div class="dash-mvp-item">
        <div class="dropdown">
          <a id="mvp-menu" href="#" data-toggle="dropdown" class="dash-mvp-link">
            <i class="fa fa-user-circle"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-right mvp-dropdown-menu">
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

      <span class="profile-name"> <%= @seller.company_nickname || @seller.company_name %> </span>

    </div>
  </div>
</div>
