<div class="dash-parent">
  <div id="dashmenu-mvp">
    <!-- Logo -->
    <%= link_to root_path, class: "navbar-mvp-brand" do %>
      <div id="logo-dash" class="logo-dash"></div>
    <% end %>
    <div class="dash-mvp-right hidden-xs hidden-sm">
      <% if user_signed_in? %>
      <!-- Links when logged in -->
      <%= link_to "Meus documentos", documents_path, class: "dash-mvp-item dash-mvp-link" %>
      <%= link_to "Meus títulos", store_invoices_path, class: "dash-mvp-item dash-mvp-link" %>
      <%= link_to "Dashboard", sellers_show_path, class: "dash-mvp-item dash-mvp-link" %>
      <!-- Avatar with dropdown menu -->
      <div class="dash-mvp-item">
        <div class="dropdown">
          <%= image_tag "logout3.png", height: 30, class: "dropdown-toggle", id: "mvp-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right mvp-dropdown-menu">
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
      <% else %>
      <%= link_to "Como Funciona?", howitworks_path, class: "dash-mvp-item dash-mvp-link" %>
      <%= link_to "Login", new_user_session_path, class: "dash-mvp-item dash-mvp-link" %>
      <%= link_to "Antecipar Recebíveis", new_user_registration_path, class: "dash-mvp-item dash-mvp-link" %>

      <% end %>
    </div>
  </div>
</div>
