<div id="status_bottom_bar">
  <div class="container-fluid">
    <div class="content">
      <div class="operation-finantials">
          <div class="content-col">
            <span>Valor Bruto</span>
            <span id="total" class="big-number"></span>
          </div>
          <div class="content-col">
            <span data-trigger="hover" data-container="body" data-toggle="popover" data-placement="top" title="Entenda sua taxa" data-content="O Brasil tem suas peculiaridades, uma delas é que para questões de impostos precisamos quebrar sua taxa de <%= percentage(@seller.fee) %> em duas de <%= percentage(@seller.fator) %> + <%= percentage(@seller.advalorem) %>. Além disso, como os bancos podem demorar até três dias para liquidar um boleto em nossa conta, precisamos considerar esses três dias no cálculo da sua taxa. Não se preocupe estamos lutando para mudar isso! ">
              Taxa Banfox (<%= percentage(@seller.fator) %> + <%= percentage(@seller.advalorem) %> )
              <i class="fa fa-info-circle blue"></i>
            </span>
            <span id="fee" class="big-number"></span>
          </div>
          <div class="content-col">
            <span>Proteção (<%= percentage(@seller.protection) %>) </span>
            <span id="protection" class="big-number" data-protection="<%= @seller.protection %>"></span>
          </div>
          <div class="content-col result">
            <span class="line">Depositamos para você:</span>
            <div class="line line-w-2-cols">
              <span class="line-text">Hoje</span>
              <span id="deposit_today"></span>
            </div>
            <div class="line line-w-2-cols">
              <span class="line-text">Na liquidação</span>
              <span id="deposit_after"></span>
            </div>
            <div class="line line-w-2-cols last-line">
              <span class="line-text">Total</span>
              <span id="net_value" class="big-number"></span>
            </div>
          </div>
      </div>
      <div class="operation-status">
        <% if @status == :no_on_going_operation %>
          <div class="top-content with-checkbox">
              <input name="operation[consent]" type="hidden" value="0">
              <input type="checkbox" name="operation[consent]" id="operation_consent">
              <label for="operation_consent">Eu confirmo, como responsável legal pela empresa <%= @seller.company_name.mb_chars.titleize %>, CNPJ <%= CNPJ.new(@seller.cnpj).formatted %>, que os produtos referentes as notas fiscais acima já foram devidamente entregues aos meus clientes.</label>
              <%= f.error :consent, class: "invalid-feedback" %>
          </div>
          <div class="bottom-content">
            <span> </span>
            <%= f.submit "Confirmar e Enviar para análise", class: "btn-rounded blue button", id: "create-operation-button" %>
          </div>
        <% elsif @status == :in_analysis %>
          <div class="top-content big-letters">
              <span>Você tem 1 operação em análise.</span>
          </div>
          <div class="bottom-content">
            <span> </span>
            <%= link_to "Cancelar Operação",
              cancel_operations_path(id: @operation.id),
              method: :put,
              id: "cancel-operation-button",
              data: { confirm: 'Você tem certeza que deseja cancelar esta operação?' }
            %>
          </div>
        <% elsif @status == :completely_approved %>
          <div class="top-content big-letters">
              <span>Parabéns! Sua operação foi aprovada.</span>
          </div>
          <%= f.input :checking_account_id, label: false, collection: @seller.checking_accounts.order(:bank_code), prompt: "Selecione sua Conta Corrente", id: "checking_account_select", :input_html => {onchange: 'show_create_document_button(this)'}, label_method: :bank_info %>
          <div class="bottom-content" id="sign_button_container" style="display: none;">
            <span> </span>
            <%= link_to "Vizualizar e assinar contrato", create_document_operations_path, class: "btn-rounded blue button", id: "create-document-button" %>
            <%= link_to "Cancelar Operação",
              cancel_operations_path(id: @operation.id),
              method: :put,
              id: "cancel-operation-button",
              data: { confirm: 'Você tem certeza que deseja cancelar esta operação?' }
            %>
          </div>
        <% elsif @status == :completely_rejected %>
          <div class="top-content big-letters">
              <span>Que pena, sua operação não foi aprovada.</span>
          </div>
          <div class="bottom-content">
            <span> </span>
            <%= link_to "Ok, quero enviar outras notas fiscais", consent_operations_path, class: "btn-rounded blue button" %>
          </div>
        <% elsif @status == :partially_approved %>
          <div class="top-content big-letters">
              <span>Sua operação foi aprovada parcialmente.</span>
          </div>
          <div class="bottom-content">
            <span> </span>
            <%= link_to "Estou ciente, quero vizualizar o contrato", create_document_operations_path, class: "btn-rounded blue button" %>
            <%= link_to "Cancelar Operação",
              cancel_operations_path(id: @operation.id),
              method: :put,
              id: "cancel-operation-button",
              data: { confirm: 'Você tem certeza que deseja cancelar esta operação?' }
            %>
          </div>
        <% elsif @status == :signing_process %>
          <div class="top-content big-letters">
              <span>Sua operação está em processo de assinatura</span>
          </div>
          <div class="bottom-content">
            <ul>
              <% @operation.signer_signature_keys.each do |signer_signature_key| %>
                <% if signer_signature_key[:email] == @seller.email_partner %>
                  <li><%= signer_signature_key[:email] %> | <%= signer_signature_key[:status] == "signed" ? "Assinou" : (link_to "Vizualizar e assinar contrato", sign_document_operations_path, class: "") %></li>
                <% else %>
                  <li><%= signer_signature_key[:email] %> | <%= signer_signature_key[:status] == "signed" ? "Assinou" : "Pendente de assinatura" %></li>
                <% end %>
              <% end %>
            </ul>
          </div>
        <% elsif @status == :deposit_pending %>
          <div class="top-content big-letters">
              <span>Estamos preparando o depósito do seu dinheiro</span>
          </div>
          <div class="bottom-content">
            <span> Devido ao sistema bancário brasileiro seu dinheiro pode demorar algumas horas para aparecer em sua conta</span>
          </div>
        <% else %>
        <% end %>
      </div>
    </div>
  </div>
</div>
