<div id="status_bottom_bar">
  <div class="container-fluid">
    <div class="content">
      <div class="operation-finantials">
          <div class="content-col">
            <span>Valor Bruto</span>
            <span id="total" class="big-number"></span>
          </div>
          <div class="content-col">
            <span>Taxa Banfox</span>
            <span id="fee" class="big-number"></span>
          </div>
          <div class="content-col">
            <span>Proteção (<%= percentage(@seller.protection) %>) </span>
            <span id="protection" class="big-number" data-protection="<%= @seller.protection %>"></span>
          </div>
          <div class="content-col result">
            <span class="line">Depositamos para você:</span>
            <div class="line line-w-2-cols">
              <span class="line-text">Hoje</span>
              <span id="deposit_today"></span>
            </div>
            <div class="line line-w-2-cols">
              <span class="line-text">Na liquidação</span>
              <span id="deposit_after"></span>
            </div>
            <div class="line line-w-2-cols last-line">
              <span class="line-text">Total</span>
              <span id="net_value" class="big-number"></span>
            </div>
          </div>
      </div>
      <div class="operation-status">
        <% if @status == :no_on_going_operation %>
          <div class="top-content with-checkbox">
              <input name="operation[consent]" type="hidden" value="0">
              <input type="checkbox" name="operation[consent]" id="operation_consent">
              <label for="operation_consent">Eu confirmo, como responsável legal pela empresa <%= @seller.company_name.mb_chars.downcase.titleize %>, CNPJ <%= @seller.cnpj %>, que os produtos referentes as notas fiscais acima já foram devidamente entregues aos meus clientes.</label>
              <%= f.error :consent, class: "invalid-feedback" %>
          </div>
          <div class="bottom-content">
            <span> </span>
            <%= f.submit "Confirmar e Enviar para análise", class: "btn-rounded blue button" %>
          </div>
        <% elsif @status == :in_analysis %>
          <div class="top-content big-letters">
              <span>Você tem 1 operação em análise.</span>
          </div>
        <% elsif @status == :completely_approved %>
          <div class="top-content big-letters">
              <span>Parabéns! Sua operação foi aprovada.</span>
          </div>
          <div class="bottom-content">
            <span> </span>
            <%= link_to "Vizualizar e assinar contrato", create_document_operations_path, class: "btn-rounded blue button" %>
          </div>
        <% elsif @status == :completely_rejected %>
          <div class="top-content big-letters">
              <span>Que pena, sua operação não foi aprovada.</span>
          </div>
          <div class="bottom-content">
            <span> </span>
            <%= link_to "Ok, quero enviar outras notas fiscais", consent_operations_path, class: "btn-rounded blue button" %>
          </div>
        <% elsif @status == :partially_approved %>
          <div class="top-content big-letters">
              <span>Sua operação foi aprovada parcialmente.</span>
          </div>
          <div class="bottom-content">
            <span> </span>
            <%= link_to "Estou ciente, quero vizualizar o contrato", create_document_operations_path, class: "btn-rounded blue button" %>
          </div>
        <% elsif @status == :signing_process %>
          <div class="top-content big-letters">
              <span>Sua operação está em processo de assinatura</span>
          </div>
          <div class="bottom-content">
            <ul>
              <% @operation.signer_signature_keys.each do |signer_signature_key| %>
                <% if signer_signature_key[:email] == @seller.email_partner %>
                  <li><%= signer_signature_key[:email] %> | <%= signer_signature_key[:status] == "signed" ? "Assinou" : (link_to "Vizualizar e assinar contrato", sign_document_operations_path, class: "btn-rounded blue button") %></li>
                <% else %>
                  <li><%= signer_signature_key[:email] %> | <%= signer_signature_key[:status] == "signed" ? "Assinou" : "Pendente de assinatura" %></li>
                <% end %>
              <% end %>
            </ul>
            <%#= link_to "Vizualizar e assinar contrato", sign_document_operations_path, class: "btn-rounded blue button" %>
          </div>
        <% else %>
        <% end %>
      </div>
    </div>
  </div>
</div>

