<section id="how-it-works">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="how-title1">
          <p>COMO FUNCIONA</p>
        </div>
      </div>
      <div class="col-12">
        <div class="how-title2">
          <h1>Como antecipar recebiveis</h1>
          <h1>com a Banfox?</h1>
        </div>
      </div>
    </div>
    <center><div class="title-separator"></div></center>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card-data-howitworks">
              <div class="card-data-header">
                <div class="row">
                  <div class="col-4 col-md-4">
                    <%= image_tag "icon_cadastro.png" %>
                  </div>
                  <div class="col-8 col-md-8">
                    <h3>Cadastre-se Online</h3>
                  </div>
                </div>
              </div>
              <div class="card-data-body">
                <p>Nosso cadastro dura menos de 2min e você já pode usar a nossa plataforma</p>
                <a href="<%= new_user_registration_path %>" >Começar agora</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card-data-howitworks">
              <div class="card-data-header">
                <div class="row">
                  <div class="col-4 col-md-4">
                    <%= image_tag "icon_notas_fiscais.png" %>
                  </div>
                  <div class="col-8 col-md-8">
                    <h3>Envie suas notas fiscais</h3>
                  </div>
                </div>
              </div>
              <div class="card-data-body">
                <p>Você pode enviar quantas notas fiscais quiser, desde que sejam de produtos já entregues.</p>
                <a href="<%= new_user_registration_path %>" >Saiba mais</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card-data-howitworks">
              <div class="card-data-header">
                <div class="row">
                  <div class="col-4 col-md-4">
                    <%= image_tag "icon_receba_a_vista.png" %>
                  </div>
                  <div class="col-8 col-md-8">
                    <h3>Receba à vista</h3>
                  </div>
                </div>
              </div>
              <div class="card-data-body">
                <p>Você recebe à vista e nós a prazo. As condições de deságio estão explícitas e transparentes</p>
                <a href="<%= new_user_registration_path %>" >Saiba mais</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
