<div class="call-to-action">
  <div class="container cta-padding-benefits">
    <div class="row">
      <div class="col-12 col-md-9">
        <h1>Faça o seu cadastro e aproveite o melhor produto do mercado.</h1>
      </div>
      <div class="col-12 col-md-3 cta-button">
        <%= link_to "CADASTRE-SE", new_user_registration_path, class: "btn btn-lg btn-hero-banfox" %>
      </div>
    </div>
    <div class="text-border"></div>
  </div>
</div>
<div class="cta-transition-benefits"></div>
<section id="our-benefits">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="how-title1 title1-margin-top">
          <p>NOSSOS BENEFÍCIOS</p>
        </div>
      </div>
      <div class="col-12">
        <div class="how-title2">
          <h1>Porque a Banfox é a melhor?</h1>
          <h1>Descubra agora.</h1>
        </div><!-- title2 -->
      </div><!-- col -->
    </div><!-- row -->
    <center><div class="title-separator"></div></center>
    <div class="row">
      <div class="col-12">
        <div class="row benefits-item">
          <div class="col-12 col-md-6">
            <%= image_tag "image_1.png" %>
          </div>
          <div class="col-12 col-md-5">
            <div class="card-data-benefits">
              <h4>Livre de pegadinhas</h4>
              <p>
              Sabe todas aquelas cobranças indevidas ou inesperadas? Tarifas disso, tarifas daquilo. Pois bem a Banfox não cobra nada além da taxa de deságio.
              </p>
              <a href="<%= new_user_registration_path %>">SAIBA MAIS</a>
            </div><!-- card-data -->
          </div><!-- col -->
        </div><!-- row benefits-item -->
        <div class="row benefits-item desktop-item">
          <div class="col-md-1"></div>
          <div class="col-12 col-md-5">
            <div class="card-data-benefits">
              <h4>Imprevistos?</h4>
              <p>
              Acontecem, nós sabemos. Por isso não cobramos multas e juros de mora. Simples assim, aconteceu alguma coisa? Avisa a gente e nós te ajudamos.
              </p>
              <a href="<%= new_user_registration_path %>">FALA SÉRIO, JURA?</a>
            </div><!-- card-data -->
          </div><!-- col -->
          <div class="col-12 col-md-6">
            <%= image_tag "image_2.png" %>
          </div>
        </div><!-- row benefits-item -->
        <div class="row benefits-item mobile-item">
          <div class="col-12">
            <%= image_tag "image_2.png" %>
          </div>
          <div class="col-12">
            <div class="card-data-benefits">
              <h4>Imprevistos?</h4>
              <p>
              Acontecem, nós sabemos. Por isso não cobramos multas e juros de mora. Simples assim, aconteceu alguma coisa? Avisa a gente e nós te ajudamos.
              </p>
              <a href="<%= new_user_registration_path %>">FALA SÉRIO, JURA?</a>
            </div><!-- card-data -->
          </div><!-- col -->
        </div><!-- row benefits-item -->
        <div class="row benefits-item">
          <div class="col-12 col-md-6">
            <%= image_tag "image_3.png" %>
          </div>
          <div class="col-12 col-md-5">
            <div class="card-data-benefits">
              <h4>Acumule Pontos!</h4>
              <p>
              Você ganha pontos toda vez que realiza uma operação bem sucedida. Esses pontos se transformam em melhores taxas e limites de crédito.
              </p>
              <a href="<%= new_user_registration_path %>">EU QUERO!</a>
            </div><!-- card-data -->
          </div><!-- col -->
        </div><!-- row benefits-item -->
      </div><!-- col-12 -->
    </div><!-- row -->
  </div><!-- container -->
</section>
<div class="section-transition-benefits"></div>
