<section id="homenew-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="homenew-call-to-action">
          <h1>
            O jeito inteligente
            <br>
            de fazer factoring.
          </h1>
          <%= link_to 'Abra sua conta', new_user_registration_path, class: "homenew-call-to-action-button" %>
          <p>Abrir sua conta é grátis e sempre vai ser.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <%= image_tag "home-banner-image1.png", class: "homenew-image" %>
      </div>
    </div>
  </div>
</section>
<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-xs-12 col-sm-3 col-sm-offset-3">
      <div class="homenew-banner-info-card">
        <p>Limites operacionais</p>
        <h2>até R$5 milhões</h2>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="homenew-banner-info-card">
        <p>Taxas a partir de</p>
        <h2>0.99% quinzenal</h2>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="homenew-banner-info-card">
        <p>Aprovação de operação</p>
        <h2>2 horas</h2>
      </div>
    </div>
  </div>
</div>
<section id="homenew-info">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="homenew-title-box">
          <h1>Não espere mais para receber <br> dos seus clientes</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="home-info-card">
          <%= image_tag "pencil.png" %>
          <h3>Entenda seu custo</h3>
          <p>Nossas taxas são únicas e transparentes, sem letrinhas pequenas, sem pegadinhas.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="home-info-card">
          <%= image_tag "calendar.png" %>
          <h3>Pague suas contas em dia</h3>
          <p>Não atrase folha de funcionário ou fornecedores, eles são essenciais para continuar sua produção.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="home-info-card">
          <%= image_tag "chart.png" %>
          <h3>Cresça imediatamente</h3>
          <p>Antecipe seus recebíveis e venda mais hoje mesmo. Não deixe seu cliente esperando.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="homenew-how-it-works">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-4">
            <h3>Como antecipar com a MVP Invest</h3>
          </div>
          <div class="col-xs-2 col-xs-offset-2">
            <div class="homenew-how-number">
              <p>01.</p>
            </div>
          </div>
          <div class="col-xs-8">
            <div class="homenew-number-content">
              <h4>Faça seu cadastro</h4>
              <p>Nosso cadastro demora apenas 5 minutos e você já poderá utilizar nossa plataforma.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2 col-xs-offset-2">
            <div class="homenew-how-number">
              <p>02.</p>
            </div>
          </div>
          <div class="col-xs-8">
            <div class="homenew-number-content">
              <h4>Seja aprovado</h4>
              <p>Nossa equipe de crédito irá revisar suas informações e entrará em contato o mais breve possível.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2 col-xs-offset-2">
            <div class="homenew-how-number">
              <p>03.</p>
            </div>
          </div>
          <div class="col-xs-8">
            <div class="homenew-number-content">
              <h4>Envie notas fiscais</h4>
              <p>Faça o upload de 1 ou múltiplas notas fiscais, acompanhe o status, seu capital pode ser liberado em até 2 horas.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2 col-xs-offset-2">
            <div class="homenew-how-number">
              <p>04.</p>
            </div>
          </div>
          <div class="col-xs-8">
            <div class="homenew-number-content">
              <h4>Receba seu capital R$</h4>
              <p>Nós depositamos 80-90% do valor, o restante, menos nossa taxa, fica disponível assim que a nota fiscal for paga.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <!-- <%= image_tag "ellyot-588130-unsplash.jpg", class: "homenew-image2" %> -->
      </div>
    </div>
  </div>
</section>
