<!-- Home Banner -->

<section id="home-banner">
  <div class="banner">
    <div class="jumbotron jumbotron-fluid jumbotron-banner">
      <div class="container">
        <h1>Estávamos esperando por você.</h1>
        <p>Temos todas as soluções de capital de giro para o seu negócio.</p>
        <%= image_tag "mvapp.png" %>
      </div>
    </div>
  </div>
</section>


<!-- Home Call to Action -->
<section id="home-calltoaction">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="card card1">
          <h4>Porque Antecipar Recebíveis?</h4>
          <ul>
            <li>
              <span> <%= image_tag "checkazul", height: 29 %></span>
              <p>Pagar contas essênciais à produção</p>
            </li>
            <li>
              <span> <%= image_tag "checkazul", height: 29 %></span>
              <p>Comprar matéria-prima com desconto</p>
            </li>
            <li>
              <span> <%= image_tag "checkazul", height: 29 %></span>
              <p>Aumentar suas <span style="color: #EE7B31">Vendas</span> mais Rápido!</p>
            </li>
            <li>
              <span> <%= image_tag "checkazul", height: 29 %></span>
              <p>Folha de pagamento de funcionários</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="card card2">
          <% if @redirection_options[:situation] == "register" %>
            <div class="login-form-homepage">
              <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= f.error_notification %>
                <div class="form-inputs">
                  <%= f.input :email, label: "Qual seu email ?", autofocus: true, class: "label-text" %>
                  <%= f.input :password, label: "Escolha uma Senha", hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
                  <!-- <%= f.input :password_confirmation, required: true %> -->
                </div>
                <div class="form-actions">
                  <%= f.button :submit, "Cadastrar agora 100% grátis", class: "btn-mvp" %>
                </div>
                <p>Ou entre com sua conta
                  <span style="color: #4285f4;">G</span>
                  <span style="color: #ea4335;">o</span>
                  <span style="color: #fbbc05;">o</span>
                  <span style="color: #4285f4;">g</span>
                  <span style="color: #34a853;">l</span>
                  <span style="color: #ea4335;">e</span>
                </p>
              <% end %>
            </div>
          <% elsif @redirection_options[:situation] == "active" %>
            <div>
              <%= link_to "Subir nova nota", new_invoice_path, class: "btn btn-primary" %>
            </div>
          <% else %>
            <div>
              <%= link_to "Completar cadastro", @redirection_options[:path], class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
        <% if !user_signed_in? %>

        <% end %>
      </div>
    </div>
  </div>
</section>

<!-- How it works -->
<section id="how-it-works">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <h1>Você sabia...</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-sm-offset-1">
        <div class="how-box image-box">
          <%= image_tag "predio.png" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-5">
        <div class="how-box content-box">
          <h2>A MVP Invest...</h2>
          <ul>
            <li>
              <span> <%= image_tag "checkbox", height: 5 %></span>
              <p>Antecipa pagamentos</p>
            </li>
            <li>
              <span> <%= image_tag "checkbox", height: 5 %></span>
              <p>Tem menos burocracia</p>
            </li>
            <li>
              <span> <%= image_tag "checkbox", height: 5 %></span>
              <p>Não possui custos escondidos</p>
            </li>
            <li>
              <span> <%= image_tag "checkbox", height: 5 %></span>
              <p>É super rápida de serviço</p>
            </li>
            <li>
              <span> <%= image_tag "checkbox", height: 5 %></span>
              <p>Além de ser simples e prática</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-sm-offset-1">
        <div class="how-box content-box">
          <h2>É simples</h2>
          <p>Não confunda, somos diferentes de bancos tradicionais.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-5">
        <div class="how-box image-box">
          <%= image_tag "nao.png" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-sm-offset-1">
        <div class="how-box image-box">
          <%= image_tag "3.png" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-5">
        <div class="how-box content-box">
          <h2>Para cadastrar</h2>
          <p>Basta seguir os 3 passos abaixo.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<hr class="style-1">

<!-- How to register -->
<section id="how-to-register">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <h1>Vamos começar?</h1>
      </div>
    </div>
    <div class="row">
      <div class="content">
        <div class="col-xs-12 col-md-4">
          <div class="step-to-register">
            <%= image_tag "info.png", class: "how-to-register-image" %>
            <span>1</span>
            <p>Nosso cadastro demora apenas 2 minutinhos.</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="step-to-register">
            <%= image_tag "xml.png", class: "how-to-register-image" %>
            <span>2</span>
            <p>Faça o upload do arquivo XML da sua nota fiscal.</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="step-to-register">
            <%= image_tag "dinheiro.png", class: "how-to-register-image" %>
            <span>3</span>
            <p>Pronto, agora é só aumentar suas vendas.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <div class="call-to-action-2">
          <%= link_to "Criar conta 100% grátis", new_user_registration_path, class: "btn btn-mvp-footer" %>
        </div>
      </div>
    </div>
  </div>
</section>
