<!-- Banner Hero -->
<div class="new-banner-hero-wrapper new-lp-font">
  <div class="new-banner-hero">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="new-banner-hero-text">
            <div class="text-break"></div>
            <h1>Receba à vista, <br>sempre.</h1>
            <h2>Antecipe suas notas fiscais à prazo.</h2>
            <h4>A Banfox é a melhor plataforma para antecipar recebíveis do Brasil. Feita por empreendedores para empreendedores.</h4>
            <%= link_to "CADASTRE-SE", new_user_registration_path, class: "btn btn-lg btn-hero-banfox" %>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="new-banner-hero-img">
            <%= image_tag("banfox-hero-img.png", alt: "Banfox Logo")%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="new-banner-brands new-lp-font">
  <div class="container">
    <div class="brand-box">
      <div class="brand-item">
        <h3>EMPRESAS QUE <br> CONFIAM NA BANFOX</h3>
      </div>
      <div class="brand-item">
        <%= image_tag("logo-ace.png", alt: "Banfox Logo")%>
      </div>
      <div class="brand-item">
        <%= image_tag("logo-clicksign.png", alt: "Banfox Logo")%>
      </div>
      <div class="brand-item">
        <%= image_tag("logo-emailage.png", alt: "Banfox Logo")%>
      </div>
      <div class="brand-item">
        <%= image_tag("logo-inovabra.png", alt: "Banfox Logo")%>
      </div>
    </div>
  </div>
</div>
