<section id="homenew-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="homenew-call-to-action">
          <h1>
            O jeito inteligente
            <br>
            de adiantar recebíveis.
          </h1>
          <%= link_to 'Abra sua conta', new_user_registration_path, class: "homenew-call-to-action-button" %>
          <p>Abrir sua conta é grátis e sempre vai ser.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <%= image_tag "home-banner-image-tiny.png", class: "homenew-image" %>
      </div>
    </div>
  </div>
</section>
<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-xs-12 col-sm-3 col-sm-offset-3">
      <div class="homenew-banner-info-card">
        <p>Limites operacionais</p>
        <h2>até R$5 milhões</h2>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="homenew-banner-info-card">
        <p>Taxas a partir de</p>
        <h2>0.99% quinzenal</h2>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <div class="homenew-banner-info-card">
        <p>Aprovação de operação</p>
        <h2>2 horas</h2>
      </div>
    </div>
  </div>
</div>
<section id="homenew-info">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="homenew-title-box">
          <h1>Não espere mais para receber <br> dos seus clientes</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="home-info-card">
          <%= image_tag "pencil.png" %>
          <h3>Entenda seu custo</h3>
          <p>Nossas taxas são únicas e transparentes, sem letrinhas pequenas, sem pegadinhas.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="home-info-card">
          <%= image_tag "calendar.png" %>
          <h3>Pague suas contas em dia</h3>
          <p>Não atrase folha de funcionários ou fornecedores, eles são essenciais para continuar sua operação.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="home-info-card">
          <%= image_tag "chart.png" %>
          <h3>Cresça imediatamente</h3>
          <p>Antecipe seus recebíveis e venda mais hoje mesmo. Não deixe seu cliente esperando.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="homenew-how-it-works">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <h3>Como antecipar com a Banfox</h3>
          </div>
          <div class="col-xs-2 col-xs-offset-1">
            <div class="homenew-how-number">
              <p>01.</p>
            </div>
          </div>
          <div class="col-xs-8">
            <div class="homenew-number-content">
              <h4>Faça seu cadastro</h4>
              <p>Nosso cadastro demora apenas 2 minutos e você já poderá utilizar nossa plataforma.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2 col-xs-offset-1">
            <div class="homenew-how-number">
              <p>02.</p>
            </div>
          </div>
          <div class="col-xs-8">
            <div class="homenew-number-content">
              <h4>Seja aprovado</h4>
              <p>Nossa equipe de crédito irá revisar suas informações, estando tudo ok, você poderá ser aprovado em até 2 horas.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2 col-xs-offset-1">
            <div class="homenew-how-number">
              <p>03.</p>
            </div>
          </div>
          <div class="col-xs-8">
            <div class="homenew-number-content">
              <h4>Envie notas fiscais</h4>
              <p>Faça o upload de 1 ou múltiplas notas fiscais, acompanhe em tempo real o andamento, realizamos operações em menos de 15 minutos.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2 col-xs-offset-1">
            <div class="homenew-how-number">
              <p>04.</p>
            </div>
          </div>
          <div class="col-xs-8">
            <div class="homenew-number-content">
              <h4>Receba seu capital R$</h4>
              <p>Nós depositamos 80% do valor, o restante, menos nossa comissão, fica disponível assim que a nota fiscal for paga.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <div class="homenew-image2-box">
          <%= image_tag "home-bottom-picture.jpg", class: "homenew-image2" %>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="why-mvpinvest-isbest">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <h3>Descubra porque a Banfox é a melhor opção</h3>
      </div>
      <div class="col-xs-12 col-sm-5">
        <div class="homenew-list-card">
          <div class="card-header">
            <h4>Bancos, FIDCs e Factorings tradicionais</h4>
          </div>
          <div class="card-subheader">
            <span>4 - 12 semanas</span>
            <p>processo de aprovação</p>
          </div>
          <div class="homenew-message">
            <%= image_tag "trend-down.png", height: 16 %>
            <div class="homenew-message-name">
              <h5>Lista exaustiva de documentos burocráticos.</h5>
            </div>
          </div>
          <div class="homenew-message">
            <%= image_tag "trend-down.png", height: 16 %>
            <div class="homenew-message-name">
              <h5>Compromisso com valores mínimos.</h5>
            </div>
          </div>
          <div class="homenew-message">
            <%= image_tag "trend-down.png", height: 16 %>
            <div class="homenew-message-name">
              <h5>Você nunca sabe qual multa ou juros vai pagar.</h5>
            </div>
          </div>
          <div class="homenew-message">
            <%= image_tag "trend-down.png", height: 16 %>
            <div class="homenew-message-name">
              <h5>Necessidade de garantias e excesso de notas.</h5>
            </div>
          </div>
          <div class="homenew-message">
            <%= image_tag "trend-down.png", height: 16 %>
            <div class="homenew-message-name">
              <h5>Assinaturas em cartório, papel pra lá e pra cá.</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="homenew-list-card list-card-mvpinvest">
          <div class="card-header">
            <h4>Banfox</h4>
          </div>
          <div class="card-subheader">
            <span>a partir 2 horas</span>
            <p>processo de aprovação</p>
          </div>
          <div class="homenew-message">
            <%= image_tag "trend-up.png", height: 18 %>
            <div class="homenew-message-name">
              <h5>Sem burocracias.</h5>
            </div>
          </div>
          <div class="homenew-message">
            <%= image_tag "trend-up.png", height: 18 %>
            <div class="homenew-message-name">
              <h5>Você escolhe quanto deseja antecipar.</h5>
            </div>
          </div>
          <div class="homenew-message">
            <%= image_tag "trend-up.png", height: 18 %>
            <div class="homenew-message-name">
              <h5>Você sabe a sua taxa final antes de pagar por ela.</h5>
            </div>
          </div>
          <div class="homenew-message">
            <%= image_tag "trend-up.png", height: 18 %>
            <div class="homenew-message-name">
              <h5>Sem garantias, sem compromissos longos.</h5>
            </div>
          </div>
          <div class="homenew-message">
            <%= image_tag "trend-up.png", height: 18 %>
            <div class="homenew-message-name">
              <h5>Assinaturas online com segurança encriptografada.</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="homenew-talk-to-us">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="homenew-talk-to-us">
          <h1>Conheça o nosso time.</h1>
          <h2>Ligue para <span>(11) 9.3800.8131</span></h2>
          <%= link_to 'Abra sua conta', new_user_registration_path, class: "homenew-call-to-action-button" %>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <%= image_tag "business-people.png", class: "homenew-image" %>
      </div>
    </div>
  </div>
</section>

<%= render 'shared/footer' %>
