<header id="home-header">
  <section id="home-banner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <div class="banner-content">
            <h1 class="animate-pop-in">Antecipe Recebíveis de maneira inteligente.</h1>
            <h2 class="animate-pop-in">Temos todas as soluções de capital de giro para o seu negócio.</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="list-card animate-pop-in">
            <div class="message">
              <%= image_tag "check1.png", height: 22 %>
              <div class="message-name">
                <h5>Pagar contas essenciais à produção.</h5>
              </div>
            </div>
            <div class="message">
              <%= image_tag "check1.png", height: 22 %>
              <div class="message-name">
                <h5>Comprar matéria-prima com desconto.</h5>
              </div>
            </div>
            <div class="message">
              <%= image_tag "check1.png", height: 22 %>
              <div class="message-name">
                <h5>Aumentar suas vendas mais rápido!</h5>
              </div>
            </div>
            <div class="message">
              <%= image_tag "check1.png", height: 22 %>
              <div class="message-name">
                <h5>Quitar folha de pagamento de funcionários.</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="wrapper-porco">
            <div class="banner-porco">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>
  <div class="container-fluid">
    <section id="home-call-to-action">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="buttons-card animate-pop-in">
          <%= link_to "Como Funciona?", pages_howitworks_path, class: "banner-btn-3" %>
          <%= link_to "Antecipar Recebíveis", new_user_registration_path, class: "banner-btn-4" %>
        </div>
      </div>
    </div>
  </section>
  </div>

<%= render 'shared/footer' %>
