<section class="howitworks">
  <div class="container-fluid area1">
    <div class="container-fluid area2">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>Veja como Factoring <br> pode lhe ajudar<span id="orange">.</span></h1>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="container">
    <div class="description-area">
      <div class="row">
        <div class="col-xs-12">
          <h2><span id="orange">F</span>actoring.</h2>
          <p>Sabe aquele seu cliente que pediu para pagar parcelado em 30, 60 e 90 dias?
          Então, a operação de factoring ajuda você a receber imediatamente, basta você vender essa nota fiscal para uma empresa de confiança.
          Assim, você pode pagar seus funcionários em dia, conseguir um bom desconto comprando matéria prima à vista,
          e finalmente organizar o seu fluxo de caixa. Mas cuidado, factoring não deve ser confundido com empréstimo bancário.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="howitworks-img">
          <%= image_tag "compessoa.png" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="back-area">
          <div class="back2">
            <div class="back1">
              <div class="back3">

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="description-area">
          <h2><span id="orange">MVP  Invest</span>.</h2>
          <p>Somos determinados em ajudar você a crescer mais rápido!
            Provemos informações atualizadas e transparentes, além de oferecer estratégias de utilização do caixa,
            que ajudam você a se organizar.
            Dessa forma, você estará livre e despreocupado para focar na sua operação, vendendo mais!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>















<!-- <div class="container">
  <div class="how-it-works">
    <div class="row">
      <div class="col-xs-12">
        <h1>Veja como antecipar <br>recebíveis com a MVP Invest</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="how-content">
          <h2>Simples</h2>
          <p>Nosso cadastro demora apenas 2 minutinhos.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="how-box-image">
          <%= image_tag "info.png", class: "how-images" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="how-box-image">
          <%= image_tag "xml.png", class: "how-images" %>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="how-content">
          <h2>Fácil</h2>
          <p>É só upload o arquivo XML da sua nota fiscal.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="how-content">
          <h2>Rápido</h2>
          <p>Pronto, agora é só Crescer mais rápido!</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="how-box-image">
          <%= image_tag "dinheiro.png", class: "how-images" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <div class="pre-footer-btn-how">
          <h4>Vamos começar?</h4>
          <%= link_to "Antecipe recebíveis agora mesmo", new_user_registration_path, class: "btn-mvp-footer" %>
          <p>Rápido, prático e sem burocracias.</p>
        </div>
      </div>
    </div>
  </div>
</div> -->
