<%= render partial: "shared/header", locals: {
  title: "Documentos de",
  sub_title: "Mantenha seus docuemntos guardados conosco e sempre atualizados",
  company_name: @seller.company_name
} %>

<%= render partial: "shared/documents_menu", locals: {menu_in: :index} %>


<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <% @uploads.each do |name, upload| %>
        <% if upload.attached? %>
          <h3><%= name %></h3>
          <% if upload.class == ActiveStorage::Attached::One%>
           <%= render partial: "document_preview", locals: {upload: upload} %>
          <% elsif upload.class == ActiveStorage::Attached::Many %>
            <% upload.attachments.each do |upload_a| %>
              <%= render partial: "document_preview", locals: {upload: upload_a} %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>





