<%= render partial: "shared/header_name_first", locals: {
  title: "que tal deixarmos seu cadastro atualizado?",
  sub_title: "Faça o upload dos arquivos solicitados",
  company_name: @seller.company_name
} %>

<%= render partial: "shared/documents_menu", locals: {menu_in: :new} %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="input-file-box">
        <%= simple_form_for @seller, url: documents_path, method: :post do |f| %>
          <% @uploads.each do |description, upload| %>
            <%= render partial: "document_input", locals: {f: f, description: description, upload: upload} %>
          <% end %>
        <%= f.submit 'Subir arquivos', class: "btn btn-file-upload"%>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  var input = document.getElementById( 'file' );
  var infoArea = document.getElementById( 'demo' );

  input.addEventListener( 'change', showFileName );

  function showFileName( event ) {
    var input = event.srcElement;
    var fileName = input.files[0].name;
    infoArea.textContent = 'Arquivo selecionado!';
  }
</script>

