<span class="preheader">Seu dinheiro já está a caminho</span>
<table class="email-wrapper" width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center">
      <table class="email-content" width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <td class="email-masthead">
            <a href="https://www.banfox.com.br" class="email-masthead_name">
              <img alt="Icon" src=https://res.cloudinary.com/banfox/image/upload/v1565722339/logo/Logo_banfox_color.png width="225" height="55"  />
            </a>
          </td>
        </tr>
        <!-- Email Body -->
        <tr>
          <td class="email-body" width="100%" cellpadding="0" cellspacing="0">
            <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0">
              <!-- Body content -->
              <tr>
                <td class="content-cell">
                  <h1>Olá <%= @seller.full_name.mb_chars.titleize.split.first %>,</h1>
                  <p>Obrigado por confiar na banfox!</p>
                  <p>Estamos passando para avisar que seu dinheiro já está a caminho!</p>
                  <p>Hoje, estamos te depositando um total de <strong><%= humanized_money_with_symbol @operation.net_value %></strong>.</p>
                  <h1>Resumo da operação <%= @operation.id %></h1>
                  <table class="purchase_content" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                      <th class="purchase_heading"><p>Título</p></th>
                      <th class="purchase_heading"><p>Sacado</p></th>
                      <th class="purchase_heading"><p class="align-right">Vencimento</p></th>
                      <th class="purchase_heading"><p class="align-right">Valor</p></th>
                      <th class="purchase_heading"><p class="align-right">Depósito</p></th>
                    </tr>
                    <% @installments.each do |i| %>
                      <tr>
                        <td class="purchase_item"><%= i.invoice.number %>/<%= i.number %></td>
                        <td class="purchase_item">
                          <%= i.invoice.payer.company_name.mb_chars.titleize.split.first %>
                          <%= i.invoice.payer.company_name.mb_chars.titleize.split.second %>
                        </td>
                        <td class="purchase_item"><%= i.due_date %></td>
                        <td class="purchase_item align-right"><%= humanized_money_with_symbol i.value %></td>
                        <td class="purchase_item align-right"><%= humanized_money_with_symbol i.net_value %></td>
                      </tr>
                    <% end %>
                  </table>
                  <table class="purchase_content" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                      <td class="purchase_footer" valign="middle"><p class="purchase_total purchase_total--label">Total Bruto</p></td>
                      <td class="purchase_footer" valign="middle"><p class="purchase_total"><%= humanized_money_with_symbol @operation.total_value %></p></td>
                    </tr>
                    <tr>
                      <td class="purchase_footer purchase_footer_second_line" valign="middle"><p class="purchase_total purchase_total--label">Crédito na sua conta Banfox</p></td>
                      <td class="purchase_footer purchase_footer_second_line" valign="middle"><p class="purchase_total"><%= humanized_money_with_symbol @operation.payment_credit_value %></p></td>
                    </tr>
                  </table>
                  <br>
                  <p>Com essa operação em andamento, seu limite disponível é de <strong><%= humanized_money_with_symbol @seller.available_limit %></strong>. Para efetuar uma nova operação, clique no link abaixo:</p>
                  <!-- Action -->
                  <table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                      <td align="center">
                        <!-- Border based button
                   https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design -->
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center">
                              <table border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td>
                                    <a href="https://www.banfox.com.br/installments/store" class="button button--blue" target="_blank">Realizar nova operação</a>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <p>Em caso de dúvidas basta responder este e-mail!</p>
                  <p>Até breve,
                    <br>Time <strong>Banfox</strong></p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table class="email-footer" align="center" width="570" cellpadding="0" cellspacing="0">
              <tr>
                <td class="content-cell" align="center">
                  <p class="sub align-center">&copy; 2019 Banfox. Todos os direitos reservados.</p>
                  <p class="sub align-center">
                    Banfox
                    Rua Vergueiro, 1061 - ACE Headquarters
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>


