<div class="wrapper-page-wo-subnavbar">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <table class="table">
        <h1> <%= @seller.company_name.mb_chars.titleize %> </h1>
        <h3> <%= @seller.cnpj %> </h3>
        <%= simple_form_for [:ops_admin, @seller] do |f| %>
          <%= f.input :fator %>
          <%= f.input :advalorem %>
          <%= f.input :protection %>
          <%= f.input :operation_limit, input_html: {id: "monthly_revenue"} %>
          <%= f.submit "Atualizar", class: "btn btn-rounded blue" %>
          <%= link_to "Cancelar", url_for(:back), class: "btn btn-rounded blue" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
