<div class="wrapper-page-wo-subnavbar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <table class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nome</th>
              <th>Cnpj</th>
              <th>Fator</th>
              <th>Advalorem</th>
              <th>Proteção</th>
              <th>Limite</th>
              <th>Devedor solidário</th>
              <th>Status</th>
              <th>Ação</th>
            </tr>
          </thead>
          <tbody>
            <% @sellers.each do |seller| %>
              <tr>
                <td> <%= seller.id %> </td>
                <td> <%= seller.company_name.mb_chars.titleize %> </td>
                <td> <%= seller.cnpj %> </td>
                <td> <%= seller.fator %> </td>
                <td> <%= seller.advalorem %> </td>
                <td> <%= seller.protection %> </td>
                <td> <%= humanized_money_with_symbol seller.operation_limit %> </td>
                <td> <%= seller.joint_debtors.count %> </td>
                <td> <%= seller.analysis_status %> </td>
                <td> <%= ops_admin_actions(seller) %> </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
