<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="client-form">
        <%= image_tag "porco.png", height: 70 %>
        <h2>Estamos a poucos passos de criar a sua conta...</h2>
        <div class="progress-bar">
          <span class="point active">1</span>
          <span class="bar"></span>
          <span class="point future">2</span>
          <span class="bar future"></span>
          <span class="point future">3</span>
          <span class="bar future"></span>
          <span class="point future">4</span>
        </div>

        <%= simple_form_for @client_wizard, as: :client_wizard, url: validate_step_wizard_path do |f| %>
        <%= f.error_notification %>

        <%= hidden_field_tag :current_step, 'step1' %>
        <%= f.input :company_name %>

        <%= f.submit 'Continue' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
