<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="client-form">
        <%= image_tag "porco.png", height: 100 %>
        <h2>Estamos a poucos passos de criar a sua conta...</h2>
        <div class="progress-bar">
          <span class="point done"><%= link_to "1", step1_wizard_path %></span>
          <span class="bar bdone"></span>
          <span class="point done"><%= link_to "2", step2_wizard_path %></span>
          <span class="bar bdone"></span>
          <span class="point done"><%= link_to "3", step3_wizard_path %></span>
          <span class="bar bdone"></span>
          <span class="point active">4</span>
        </div>

        <%= simple_form_for @client_wizard, as: :client_wizard, url: validate_step_wizard_path do |f| %>
        <%= f.error_notification %>

        <%= hidden_field_tag :current_step, 'step4' %>
        <%= f.input :cnpj %>

        <%= f.submit 'Finish' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
