<div class="card-w-table-inside">
  <div class="card-w-table-inside-header">
    <div class="header-column">
      <span># <%= operation.id %> <%= operation.seller_name.mb_chars.downcase.titleize %></span>
    </div>
    <div class="header-column">
      <span> Aberta a: <%= operation.order_elapsed_time %></span>
    </div>
  </div>
  <div class="card-w-table-inside-summary">
    <div class="summary-column">
      <strong>Resumo da operação</strong>
      <span>Valor das notas: <%= humanized_money_with_symbol operation.total_value_approved %> </span>
      <span>Comissão: <%= humanized_money_with_symbol -1*operation.initial_fee %> </span>
      <span>Saldo: <%= humanized_money_with_symbol operation.used_balance %> </span>
      <span>Total Depósito: <%= humanized_money_with_symbol operation.initial_deposit_today %> </span>
    </div>
  </div>
  <%= render partial: "shared/tables/table_wo_bundle_ops/header" %>
  <%= render partial: "shared/tables/table_wo_bundle_ops/deposit/container", locals: {items: operation.installments}%>
</div>
