<!-- Navbar -->
<nav class="new-navbar-white navbar navbar-expand-lg fixed-top new-lp-font normal-navbar">
  <div class="container">
    <a class="navbar-brand white-logo" href="#" >
      <%= image_tag("logo-banfox-white.png", alt: "Banfox Logo")%>
    </a>
    <a class="navbar-brand colored-logo" href="#" style="display: none;" >
      <%= image_tag("Logo_banfox_color.png", alt: "Banfox Logo")%>
    </a>
    <div class="collapse navbar-collapse nav-list-links" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#how-it-works">COMO FUNCIONA <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#our-mission">QUEM SOMOS</a>
        </li>
      </ul>
    </div>

    <% if user_signed_in? %>
      <%= link_to "MINHA ÃREA",  sellers_dashboard_path, class: "btn btn-sm btn-outline-light navbar-user-home" %>
    <% else %>
      <%= link_to "LOGIN", new_user_session_path, class: "btn btn-sm btn-outline-light navbar-user-home margin-right-xxs" %>

      <%= link_to "CADASTRE-SE", new_user_registration_path, class: "btn btn-sm btn-outline-light navbar-user-home" %>
    <% end %>

  </div>
</nav>
