<div class="navbar-parent">
  <div class="navbar-sections-container">
    <div class="section-left">
      <!-- Logo -->
      <%= link_to "/" do %>
        <div class="logo-mvp-pic-name"></div>
      <% end %>
    </div>

    <div class="section-middle hidden-xs hidden-sm">
      <% unless current_user.kir_permission? %>
        <%= link_to ops_admin_sellers_path, class: "navbar-section-item navbar-section-item-link #{highlight_navbar_item(current_controller_name, current_action_name, 'left')}" do %>
          <span>Clientes</span>
        <% end %>
        <%= link_to ops_admin_operations_analyse_path, class: "navbar-section-item navbar-section-item-link #{highlight_navbar_item(current_controller_name, current_action_name, 'left')}" do %>
          <span>Operações para análise</span>
        <% end %>
        <%= link_to ops_admin_operations_deposit_path, class: "navbar-section-item navbar-section-item-link #{highlight_navbar_item(current_controller_name, current_action_name, 'left')}" do %>
          <span>Operações para depósito</span>
        <% end %>
        <%= link_to ops_admin_operations_follow_up_path, class: "navbar-section-item navbar-section-item-link #{highlight_navbar_item(current_controller_name, current_action_name, 'right')}" do %>
          <span>Operações para acompanhamento</span>
        <% end %>
        <%= link_to ops_admin_operations_billing_rulers_path, class: "navbar-section-item navbar-section-item-link #{highlight_navbar_item(current_controller_name, current_action_name, 'right')}" do %>
          <span>Régua de Cobrança</span>
        <% end %>
        <%= link_to new_ops_admin_key_indicator_report_path, class: "navbar-section-item navbar-section-item-link #{highlight_navbar_item(current_controller_name, current_action_name, 'right')}" do %>
          <span>Análise de Crédito</span>
        <% end %>
      <% end %>
    </div>

    <div class="section-right hidden-xs hidden-sm">
      <!-- Avatar with dropdown menu -->
      <div class="navbar-section-item">
        <div class="dropdown">
          <a id="mvp-menu" href="#" data-toggle="dropdown" class="navbar-section-item-link">
            <i class="fa fa-user-circle"></i>
            <span class="profile-name"> Admin </span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right mvp-dropdown-menu">
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
            <% unless current_user.kir_permission? %>
              <li id="chat-enabler">
                <%= link_to api_v1_enable_chat_api_path, method: :put do %>
                  <i class="fa fa-comment"></i> Habilitar Chat API
                <% end %>
              </li>
              <li id="chat-disabler">
                <%= link_to api_v1_disable_chat_api_path, method: :put do %>
                  <i class="fa fa-comment"></i> Desabilitar Chat API
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div> <!-- navbar-sections-container -->
</div>
<script>
window.onload = function() {
  check_chat_api_availability();
}
</script>
