<div class="navbar-parent">
  <div class="navbar-sections-container">
    <div class="section-left">
      <!-- Logo -->
      <%= link_to root_path do %>
        <div class="logo-mvp-pic-name"></div>
      <% end %>
    </div>

    <div class="section-middle hidden-xs hidden-sm">
      <!-- Links when logged in -->
      <%= link_to sellers_dashboard_path, class: "navbar-section-item navbar-section-item-link #{highlight_navbar_item(current_controller_name, current_action_name, 'left')}" do %>
        <span>Minha área</span>
      <% end %>

      <%= link_to store_invoices_path, class: "navbar-section-item navbar-section-item-link #{highlight_navbar_item(current_controller_name, current_action_name, 'right')}" do %>
        <span>Títulos</span>
      <% end %>
    </div>

    <div class="section-right hidden-xs hidden-sm">
      <%= render(partial: "shared/buttons/btn_rounded_upload_invoice", locals: {button_path: "#", content: "Adicionar notas fiscais"}) %>
      <!-- Avatar with dropdown menu -->
      <div class="navbar-section-item">
        <div class="dropdown">
          <a id="mvp-menu" href="#" data-toggle="dropdown" class="navbar-section-item-link">
            <i class="fa fa-user-circle"></i>
            <span class="profile-name"> <%= @seller.company_nickname || @seller.company_name %> </span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right mvp-dropdown-menu">
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div> <!-- navbar-sections-container -->
  <% if check_need_of_subnavbar(controller.controller_name.to_s, controller.action_name.to_s) %>
    <%= render partial: "shared/navbars/sub_navbar_fixed_dark_blue"%>
  <% end %>
</div>

<%= render partial: "shared/modals/modal_file_upload" %>
