<span class="preheader">Sua operação foi aprovada</span>
<table class="email-wrapper" width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center">
      <table class="email-content" width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <td class="email-masthead">
            <a href="https://www.banfox.com.br" class="email-masthead_name">
              <img alt="Icon" src=https://res.cloudinary.com/mbentivoglio/image/upload/v1551191201/mvpinvest/logo-banfox.png width="225" height="55"  />
            </a>
          </td>
        </tr>
        <!-- Email Body -->
        <tr>
          <td class="email-body" width="100%" cellpadding="0" cellspacing="0">
            <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0">
              <!-- Body content -->
              <tr>
                <td class="content-cell">
                  <h1>Olá <%= @seller.full_name.mb_chars.titleize.split.first %>,</h1>
                  <p>Muito obrigado,  recebemos o pagamento do título:</p>
                  <!-- Action -->
                  <table class="purchase_content" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                      <th class="purchase_heading"><p>Operação</p></th>
                      <th class="purchase_heading"><p>Titulo</p></th>
                      <th class="purchase_heading"><p>Sacado</p></th>
                      <th class="purchase_heading"><p class="align-right">Vencimento</p></th>
                      <th class="purchase_heading"><p class="align-right">Valor</p></th>
                    </tr>
                    <tr>
                      <td class="purchase_item"><%= @installment.operation.id %></td>
                      <td class="purchase_item"><%= @installment.invoice.number %>/<%= @installment.number %></td>
                      <td class="purchase_item">
                        <%= @installment.invoice.payer.company_name.mb_chars.titleize.split.first %>
                        <%= @installment.invoice.payer.company_name.mb_chars.titleize.split.second %>
                      </td>
                      <td class="purchase_item align-right"><%= @installment.due_date %></td>
                      <td class="purchase_item align-right"><%= humanized_money_with_symbol @installment.value %></td>
                    </tr>
                  </table>
                  <br>
                  <p>Por esse motivo, temos três notícias muito boas para você:</p>
                  <p>1. Como houve um atraso na liquidação, sua operação que tinha a expectativa de durar <%= @installment.initial_operation_days %> efetivamente durou <strong><% @installment.overdue_operation_total_days %></strong> dias. Dessa maneira, visto que você não possui uma proteção conosco, você precisa nos pagar esse aluguel extra do dinheiro referente aos <%= @installment.overdue_days %> dias de atraso, mas note que isso não é uma muita nem juros de mora! Não é super legal e justo com você? Abaixo segue o valor e a conta para realizar o depósito:</p>
                  <p><center><%= @installment.delta_fee %></center></p>
                  <p>2. O seu limite foi liberado de <%= humanized_money_with_symbol @installment.value %>, assim você tem um total de <strong><%= humanized_money_with_symbol @seller.available_limit %></strong> disponível para operar conosco. Se quiser fazer uma nova operação é só clicar no link abaixo:</p>
                  <table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                      <td align="center">
                        <!-- Border based button
                   https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design -->
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center">
                              <table border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td>
                                    <a href="https://www.banfox.com.br/installments/store" class="button button--blue" target="_blank">Faça uma nova operação</a>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <p>Aguardamos você!
                    <br>Time <strong>Banfox</strong></p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table class="email-footer" align="center" width="570" cellpadding="0" cellspacing="0">
              <tr>
                <td class="content-cell" align="center">
                  <p class="sub align-center">&copy; 2018 Banfox. Todos os direitos reservados.</p>
                  <p class="sub align-center">
                    Banfox
                    Avenida Angélica, 2529 - InovaBra Habitat
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
