<span class="preheader">Sua operação foi liquidada</span>
<table class="email-wrapper" width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center">
      <table class="email-content" width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <td class="email-masthead">
            <a href="https://www.banfox.com.br" class="email-masthead_name">
              <img alt="Icon" src=https://res.cloudinary.com/banfox/image/upload/v1565722339/logo/Logo_banfox_color.png width="225" height="55"  />
            </a>
          </td>
        </tr>
        <!-- Email Body -->
        <tr>
          <td class="email-body" width="100%" cellpadding="0" cellspacing="0">
            <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0">
              <!-- Body content -->
              <tr>
                <td class="content-cell">
                  <h1>Olá <%= @seller.full_name.mb_chars.titleize.split.first %>,</h1>
                  <p>Confirmamos o pagamento dos títulos abaixo:</p>
                  <!-- Action -->
                  <table class="purchase_content" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                      <th class="purchase_heading"><p>Operação</p></th>
                      <th class="purchase_heading"><p>Titulo</p></th>
                      <th class="purchase_heading"><p>Sacado</p></th>
                      <th class="purchase_heading"><p class="align-right">Vencimento</p></th>
                      <th class="purchase_heading"><p class="align-right">Valor</p></th>
                    </tr>
                    <tr>
                      <td class="purchase_item"><%= @installment.operation.id %></td>
                      <td class="purchase_item"><%= @installment.invoice.number %>/<%= @installment.number %></td>
                      <td class="purchase_item">
                        <%= @installment.invoice.payer.company_name.mb_chars.titleize.split.first %>
                        <%= @installment.invoice.payer.company_name.mb_chars.titleize.split.second %>
                        <%= @installment.invoice.payer.company_name.mb_chars.titleize.split.third %>
                        <%= @installment.invoice.payer.company_name.mb_chars.titleize.split.fourth %>
                      </td>
                      <td class="purchase_item align-right"><%= @installment.due_date %></td>
                      <td class="purchase_item align-right"><%= humanized_money_with_symbol @installment.value %></td>
                    </tr>
                  </table>
                  <br>
                  <p>Percebemos que você utilizou nossos serviços por menos tempo que o previsto. Sua operação, que deveria durar <%= @installment.initial_operation_days %>, durou <strong><%= @installment.ended_operation_total_days %> dias</strong>. Por causa disso, foi gerado um crédito, proporcional à esse adiantamento de pagamento. Esse crédito será utilizado automaticamente como desconto na sua próxima operação. Se você preferir, você pode solicitar o depósito do valor em sua conta a qualquer momento.</p>
                  <% unless @seller.no_available_limit?  %>
                    <p>Além disso, lembramos que seu limite disponível para operações é <strong><%= humanized_money_with_symbol @seller.available_limit %></strong>. Para efetuar uma nova operação, clique no link abaixo:</p>
                    <table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0">
                      <tr>
                        <td align="center">
                          <!-- Border based button
                    https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design -->
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td align="center">
                                <table border="0" cellspacing="0" cellpadding="0">
                                  <tr>
                                    <td>
                                      <a href="https://www.banfox.com.br/installments/store" class="button button--blue" target="_blank">Realizar nova operação</a>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  <% end %>
                  <p>Obrigado!
                  <br>Time <strong>Banfox</strong></p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table class="email-footer" align="center" width="570" cellpadding="0" cellspacing="0">
              <tr>
                <td class="content-cell" align="center">
                  <p class="sub align-center">&copy; 2018 Banfox. Todos os direitos reservados.</p>
                  <p class="sub align-center">
                    Banfox
                    Rua Vergueiro, 1061 - ACE Headquarters
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
