<!DOCTYPE html>
<html>
  <head>
    <%= render partial: "shared/layouts/standard_html_head" %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body style="background-color: #eef1f6 !important;">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-5 col-md-offset-3">
          <%= link_to root_path do %>
            <div class="devise-logo">
              <%= image_tag "Logo_banfox_color.png" %>
            </div>
          <% end %>
          <div class="login-form">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
