<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MVP Invest - Adiantando o seu crescimento</title>
    <meta name="description" content="Munimos o empreendedor brasileiro de informação e recursos financeiros para lançar o seu negócio, acelerar seu crescimento e/ou se recuperar de uma crise.">
    <meta property="og:image" content="https://res.cloudinary.com/dbzg4txla/image/upload/v1527359171/porco_fcfnmu.png">
    <meta property="og:description" content="Munimos o empreendedor brasileiro de informação e recursos financeiros para lançar o seu negócio, acelerar seu crescimento e/ou se recuperar de uma crise.">
    <meta property="og:title" content="MVP Invest - Adiantando o seu crescimento">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body style="background-color: #edf1f7 !important;">
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
