<div class="wrapper-page-wo-subnavbar">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <%= render partial: "shared/headers/header_section_w_opt_btn", locals: {
          title: "Contrato da operação",
          optional_button: "",
          } %>
        <div id='document-container' data-signature-key="<%= @signature_key %>" data-redirection-url="<%= @redirection_url %>" data-environement="<%= Rails.env %>"></div>
        <%= link_to "Ver status da minha operação", opened_installments_path, class: "btn-rounded blue button text-center", id: "opened-installments-button" %>
      </div>
    </div>
  </div>
</div>
